<div>
  <h2 id="page-heading" data-cy="IndicatorHeading">
    <span jhiTranslate="dhis2TrackApp.indicator.home.title">Indicators</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="dhis2TrackApp.indicator.home.refreshListLabel">Actualiser la liste</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="indicators?.length === 0">
    <span jhiTranslate="dhis2TrackApp.indicator.home.notFound">Aucun Indicator trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="indicators && indicators.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.indicator.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.indicator.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.indicator.indicatorType">Indicator Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.indicator.created">Created</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.indicator.lastUpdated">Last Updated</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.indicator.createdBy">Created By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.indicator.lastUpdatedBy">Last Updated By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let indicator of indicators; trackBy: trackId" data-cy="entityTable">
          <td>
            <input
              [disabled]="setRev.length == 2 && !indicator.isSelected"
              type="checkbox"
              name="select"
              [(ngModel)]="indicator.isSelected"
              (change)="selectRev(indicator)"
            />
          </td>
          <td>
            {{ indicator.id }}
          </td>
          <td>{{ indicator.name }}</td>

          <td>
            <div *ngIf="indicator.indicatorType">
              {{ indicator.indicatorType.name }}
            </div>
          </td>

          <td>{{ indicator.created | formatMediumDatetime }}</td>
          <td>{{ indicator.lastUpdated | formatMediumDatetime }}</td>

          <td>
            <div *ngIf="indicator.createdBy">
              {{ indicator.createdBy.name }}
            </div>
          </td>
          <td>
            <div *ngIf="indicator.lastUpdatedBy">
              {{ indicator.lastUpdatedBy.name }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
