<div class="page-component">
  <h2 id="page-heading" data-cy="ProgramRuleVariableHeading">
    <span jhiTranslate="dhis2TrackApp.programRuleVariable.home.title">ProgramRuleVariables</span>
  </h2>

  <div class="card mb-4">
    <div class="card-body">
      <form (ngSubmit)="applyFilters()" class="form-inline row gx-3 gy-2 align-items-center">
        <div class="col-md-4">
          <input type="text" class="form-control" placeholder="ID" [(ngModel)]="filterCriteria.id" name="id" />
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control" placeholder="Name" [(ngModel)]="filterCriteria.name" name="name" />
        </div>
        <div class="col-md-4 d-flex">
          <button [disabled]="isLoading" type="submit" class="btn btn-primary me-2">
            <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
            Filter
          </button>
          <button [disabled]="isLoading" type="button" class="btn btn-danger" (click)="clearFilters()">
            <fa-icon icon="times" [spin]="isLoading"></fa-icon>
            Clear
          </button>
        </div>
      </form>
    </div>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="programRuleVariables?.length === 0">
    <span jhiTranslate="dhis2TrackApp.programRuleVariable.home.notFound">Aucun Program Rule Variable trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="programRuleVariables && programRuleVariables.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programRuleVariable.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programRuleVariable.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastUpdated">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programRuleVariable.lastUpdated">Last Updated</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="created">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programRuleVariable.created">Created</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdBy.id">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programRuleVariable.createdBy">Created By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastUpdatedBy.id">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programRuleVariable.lastUpdatedBy">Last Updated By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="program.id">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programRuleVariable.program">Program</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let programRuleVariable of programRuleVariables; trackBy: trackId" data-cy="entityTable">
          <td>
            {{ programRuleVariable.id }}
          </td>

          <td>{{ programRuleVariable.name }}</td>
          <td>{{ programRuleVariable.lastUpdated | formatMediumDatetime }}</td>
          <td>{{ programRuleVariable.created | formatMediumDatetime }}</td>

          <td>
            <div *ngIf="programRuleVariable.createdBy">
              {{ programRuleVariable.createdBy.name }}
            </div>
          </td>
          <td>
            <div *ngIf="programRuleVariable.lastUpdatedBy">
              {{ programRuleVariable.lastUpdatedBy.name }}
            </div>
          </td>
          <td>
            <div *ngIf="programRuleVariable.program">
              {{ programRuleVariable.program.name }}
            </div>
          </td>

          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/program-rule-variable', programRuleVariable.id, 'history']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="programRuleVariables && programRuleVariables.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
