<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-organisation-unit-heading"
        data-cy="OrganisationUnitCreateUpdateHeading"
        jhiTranslate="dhis2AuditApp.organisationUnit.home.createOrEditLabel"
      >
        Créer ou éditer un Organisation Unit
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="dhis2AuditApp.organisationUnit.id">Id</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
            @if (editForm.get('id')!.invalid && (editForm.get('id')!.dirty || editForm.get('id')!.touched)) {
              <div>
                @if (editForm.get('id')?.errors?.required) {
                  <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
                }
              </div>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="dhis2AuditApp.organisationUnit.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_created" jhiTranslate="dhis2AuditApp.organisationUnit.created">Created</label>
          <div class="d-flex">
            <input
              id="field_created"
              data-cy="created"
              type="datetime-local"
              class="form-control"
              name="created"
              formControlName="created"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (editForm.get('created')!.invalid && (editForm.get('created')!.dirty || editForm.get('created')!.touched)) {
            <div>
              @if (editForm.get('created')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('created')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Ce champ doit être une date et une heure.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lastUpdated" jhiTranslate="dhis2AuditApp.organisationUnit.lastUpdated">Last Updated</label>
          <div class="d-flex">
            <input
              id="field_lastUpdated"
              data-cy="lastUpdated"
              type="datetime-local"
              class="form-control"
              name="lastUpdated"
              formControlName="lastUpdated"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (editForm.get('lastUpdated')!.invalid && (editForm.get('lastUpdated')!.dirty || editForm.get('lastUpdated')!.touched)) {
            <div>
              @if (editForm.get('lastUpdated')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('lastUpdated')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Ce champ doit être une date et une heure.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_path" jhiTranslate="dhis2AuditApp.organisationUnit.path">Path</label>
          <input type="text" class="form-control" name="path" id="field_path" data-cy="path" formControlName="path" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_openingDate" jhiTranslate="dhis2AuditApp.organisationUnit.openingDate">Opening Date</label>
          <div class="d-flex">
            <input
              id="field_openingDate"
              data-cy="openingDate"
              type="datetime-local"
              class="form-control"
              name="openingDate"
              formControlName="openingDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (editForm.get('openingDate')!.invalid && (editForm.get('openingDate')!.dirty || editForm.get('openingDate')!.touched)) {
            <div>
              @if (editForm.get('openingDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('openingDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Ce champ doit être une date et une heure.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_level" jhiTranslate="dhis2AuditApp.organisationUnit.level">Level</label>
          <input type="number" class="form-control" name="level" id="field_level" data-cy="level" formControlName="level" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_track" jhiTranslate="dhis2AuditApp.organisationUnit.track">Track</label>
          <select class="form-control" name="track" formControlName="track" id="field_track" data-cy="track">
            <option [ngValue]="null">{{ 'dhis2AuditApp.TypeTrack.null' | translate }}</option>
            @for (typeTrack of typeTrackValues; track $index) {
              <option [value]="typeTrack">{{ 'dhis2AuditApp.TypeTrack.' + typeTrack | translate }}</option>
            }
          </select>
          @if (editForm.get('track')!.invalid && (editForm.get('track')!.dirty || editForm.get('track')!.touched)) {
            <div>
              @if (editForm.get('track')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdBy" jhiTranslate="dhis2AuditApp.organisationUnit.createdBy">Created By</label>
          <select
            class="form-control"
            id="field_createdBy"
            data-cy="createdBy"
            name="createdBy"
            formControlName="createdBy"
            [compareWith]="compareDHISUser"
          >
            @if (!editForm.get('createdBy')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (dHISUserOption of dHISUsersSharedCollection; track $index) {
              <option [ngValue]="dHISUserOption">{{ dHISUserOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['createdBy'])!.invalid && (editForm.get(['createdBy'])!.dirty || editForm.get(['createdBy'])!.touched)) {
          <div>
            @if (editForm.get(['createdBy'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_lastUpdatedBy" jhiTranslate="dhis2AuditApp.organisationUnit.lastUpdatedBy"
            >Last Updated By</label
          >
          <select
            class="form-control"
            id="field_lastUpdatedBy"
            data-cy="lastUpdatedBy"
            name="lastUpdatedBy"
            formControlName="lastUpdatedBy"
            [compareWith]="compareDHISUser"
          >
            @if (!editForm.get('lastUpdatedBy')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (dHISUserOption of dHISUsersSharedCollection; track $index) {
              <option [ngValue]="dHISUserOption">{{ dHISUserOption.id }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['lastUpdatedBy'])!.invalid && (editForm.get(['lastUpdatedBy'])!.dirty || editForm.get(['lastUpdatedBy'])!.touched)
        ) {
          <div>
            @if (editForm.get(['lastUpdatedBy'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label for="field_programs" jhiTranslate="dhis2AuditApp.organisationUnit.program">Program</label>
          <select
            class="form-control"
            id="field_programs"
            data-cy="program"
            multiple
            name="programs"
            formControlName="programs"
            [compareWith]="compareProgram"
          >
            @for (programOption of programsSharedCollection; track $index) {
              <option [ngValue]="programOption">{{ programOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_datasets" jhiTranslate="dhis2AuditApp.organisationUnit.dataset">Dataset</label>
          <select
            class="form-control"
            id="field_datasets"
            data-cy="dataset"
            multiple
            name="datasets"
            formControlName="datasets"
            [compareWith]="compareDataset"
          >
            @for (datasetOption of datasetsSharedCollection; track $index) {
              <option [ngValue]="datasetOption">{{ datasetOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
