<div class="page-component">
  <h2 id="page-heading" data-cy="CategorycomboHeading">
    <span jhiTranslate="dhis2TrackApp.categorycombo.home.title">Categorycombos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="dhis2TrackApp.categorycombo.home.refreshListLabel">Actualiser la liste</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="categorycombos?.length === 0">
    <span jhiTranslate="dhis2TrackApp.categorycombo.home.notFound">Aucun Categorycombo trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="categorycombos && categorycombos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.categorycombo.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.categorycombo.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.organisationUnit.created">Created</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.organisationUnit.lastUpdated">Last Updated</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.organisationUnit.createdBy">Created By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.organisationUnit.lastUpdatedBy">Last Updated By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let categorycombo of categorycombos; trackBy: trackId" data-cy="entityTable">
          <td>
            {{ categorycombo.id }}
          </td>
          <td>{{ categorycombo.name }}</td>

          <td>{{ categorycombo.created | formatMediumDatetime }}</td>
          <td>{{ categorycombo.lastUpdated | formatMediumDatetime }}</td>

          <td>
            <div *ngIf="categorycombo.createdBy">
              {{ categorycombo.createdBy.name }}
            </div>
          </td>
          <td>
            <div *ngIf="categorycombo.lastUpdatedBy">
              {{ categorycombo.lastUpdatedBy.name }}
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/categorycombo', categorycombo.id, 'history']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="categorycombos && categorycombos.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
