<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="optionGroupRev1 && optionGroupRev2">
      <h2 data-cy="optionGroupDetailsHeading"><span jhiTranslate="dhis2TrackApp.optionGroup.detail.title">Option Group</span></h2>

      <hr />

      <table class="table long-table">
        <thead>
          <tr>
            <th><span>Field</span></th>
            <th><span>Revision 1</span></th>
            <th><span>Revision 2</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.optionGroup.id">Id</span></td>
            <td>{{ optionGroupRev1.id }}</td>
            <td>{{ optionGroupRev2.id }}</td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.indicator.name">Name</span></td>
            <td><span [innerHTML]="showDiff(optionGroupRev2.name, optionGroupRev1.name)"></span></td>
            <td>{{ optionGroupRev2.name }}</td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.indicator.created">Created</span></td>
            <td>{{ optionGroupRev1.created | formatMediumDatetime }}</td>
            <td>{{ optionGroupRev2.created | formatMediumDatetime }}</td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.indicator.createdBy">Created By</span></td>
            <td>
              <span *ngIf="optionGroupRev1.createdBy"> {{ optionGroupRev1.createdBy.name }}</span>
            </td>
            <td>
              <span *ngIf="optionGroupRev2.createdBy">{{ optionGroupRev2.createdBy.name }}</span>
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.indicator.lastUpdated">Last Updated</span></td>
            <td>
              <span
                [innerHTML]="
                  showDiff(optionGroupRev2.lastUpdated | formatMediumDatetime, optionGroupRev1.lastUpdated | formatMediumDatetime)
                "
              ></span>
            </td>
            <td>{{ optionGroupRev2.lastUpdated | formatMediumDatetime }}</td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.indicator.lastUpdatedBy">Last Updated By</span></td>
            <td>
              <span
                *ngIf="optionGroupRev2.lastUpdatedBy && optionGroupRev1.lastUpdatedBy"
                [innerHTML]="showDiff(optionGroupRev2.lastUpdatedBy.name, optionGroupRev1.lastUpdatedBy.name)"
              ></span>
            </td>
            <td>
              <span *ngIf="optionGroupRev2.lastUpdatedBy">{{ optionGroupRev2.lastUpdatedBy.name }}</span>
            </td>
          </tr>
        </tbody>
      </table>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>
    </div>
  </div>
</div>
