<div class="d-flex justify-content-center page-component">
  <div class="col-10">
    <div *ngIf="indicatortypeRev1 && indicatortypeRev2">
      <h2 data-cy="indicatortypeDetailsHeading"><span jhiTranslate="dhis2TrackApp.indicatortype.detail.title">Indicatortype</span></h2>

      <hr />

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour </span>
      </button>

      <br /><br />

      <table class="table-responsive">
        <thead>
          <tr>
            <th><span>Field</span></th>
            <th><span>Revision 1</span></th>
            <th><span>Revision 2</span></th>
          </tr>
        </thead>
        <tbody>
          <!-- ID -->
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.indicatortype.id">Id</span></td>
            <td>{{ indicatortypeRev1.id }}</td>
            <td>{{ indicatortypeRev2.id }}</td>
          </tr>
          <!-- Name -->
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.indicatortype.name">Name</span></td>
            <td><span [innerHTML]="showDiff(indicatortypeRev2.name, indicatortypeRev1.name)"></span></td>
            <td>{{ indicatortypeRev2.name }}</td>
          </tr>
          <!-- Created Date -->
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.indicator.created">Created</span></td>
            <td>{{ indicatortypeRev1.created | formatMediumDatetime }}</td>
            <td>{{ indicatortypeRev2.created | formatMediumDatetime }}</td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.indicator.createdBy">Created By</span></td>
            <td>
              <span *ngIf="indicatortypeRev1.createdBy"> {{ indicatortypeRev1.createdBy.name }}</span>
            </td>
            <td>
              <span *ngIf="indicatortypeRev2.createdBy">{{ indicatortypeRev2.createdBy.name }}</span>
            </td>
          </tr>
          <!-- Last Updated Date -->
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.indicator.lastUpdated">Last Updated</span></td>
            <td>
              <span
                [innerHTML]="
                  showDiff(indicatortypeRev2.lastUpdated | formatMediumDatetime, indicatortypeRev1.lastUpdated | formatMediumDatetime)
                "
              ></span>
            </td>
            <td>{{ indicatortypeRev2.lastUpdated | formatMediumDatetime }}</td>
          </tr>
          <!-- Created By -->

          <!-- Last Updated By -->
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.indicator.lastUpdatedBy">Last Updated By</span></td>
            <td>
              <span
                *ngIf="indicatortypeRev2.lastUpdatedBy && indicatortypeRev1.lastUpdatedBy"
                [innerHTML]="showDiff(indicatortypeRev2.lastUpdatedBy.name, indicatortypeRev1.lastUpdatedBy.name)"
              ></span>
            </td>
            <td>
              <span *ngIf="indicatortypeRev2.lastUpdatedBy">{{ indicatortypeRev2.lastUpdatedBy.name }}</span>
            </td>
          </tr>
        </tbody>
      </table>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>
    </div>
  </div>
</div>
