<div class="d-flex justify-content-center page-component">
  <div class="col-10">
    <div *ngIf="dataelement && dataelementRev1 && dataelementRev2">
      <h2 data-cy="dataelementDetailsHeading"><span jhiTranslate="dhis2TrackApp.dataelement.detail.title">Dataelement</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <table class="table long-table">
        <thead>
          <tr>
            <th><span>Field</span></th>
            <th><span>Data Element 1</span></th>
            <th><span>Data Element 2</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.dataelement.id">Id</span></td>
            <td>
              <span [innerHTML]="showDiff(dataelementRev2.id, dataelementRev1.id)"></span>
            </td>
            <td>
              {{ dataelementRev2.id }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.dataelement.name">Name</span></td>
            <td>
              <span [innerHTML]="showDiff(dataelementRev2.name, dataelementRev1.name)"></span>
            </td>
            <td>
              {{ dataelementRev2.name }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.dataelement.shortName">Short Name</span></td>
            <td>
              <span [innerHTML]="showDiff(dataelementRev2.shortName, dataelementRev1.shortName)"></span>
            </td>
            <td>
              {{ dataelementRev2.shortName }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.dataelement.formName">Form Name</span></td>
            <td>
              <span [innerHTML]="showDiff(dataelementRev2.formName, dataelementRev1.formName)"></span>
            </td>
            <td>
              {{ dataelementRev2.formName }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.dataelement.description">Description</span></td>
            <td>
              <span [innerHTML]="showDiff(dataelementRev2.description, dataelementRev1.description)"></span>
            </td>
            <td>
              {{ dataelementRev2.description }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.dataelement.displayShortName">Display Short Name</span></td>
            <td>
              <span [innerHTML]="showDiff(dataelementRev2.displayShortName, dataelementRev1.displayShortName)"></span>
            </td>
            <td>
              {{ dataelementRev2.displayShortName }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.dataelement.displayName">Display Name</span></td>
            <td>
              <span [innerHTML]="showDiff(dataelementRev2.displayName, dataelementRev1.displayName)"></span>
            </td>
            <td>
              {{ dataelementRev2.displayName }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.dataelement.displayFormName">Display Form Name</span></td>
            <td>
              <span [innerHTML]="showDiff(dataelementRev2.displayFormName, dataelementRev1.displayFormName)"></span>
            </td>
            <td>
              {{ dataelementRev2.displayFormName }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.dataelement.created">Created</span></td>
            <td>
              <span
                [innerHTML]="showDiff(dataelementRev2.created | formatMediumDatetime, dataelementRev1.created | formatMediumDatetime)"
              ></span>
            </td>
            <td>
              {{ dataelementRev2.created | formatMediumDatetime }}
            </td>
          </tr>

          <tr>
            <td><span jhiTranslate="dhis2TrackApp.dataelement.createdBy">Created By</span></td>
            <td>
              <div *ngIf="dataelementRev1.createdBy">
                {{ dataelementRev1.createdBy.name }}
              </div>
            </td>
            <td>
              <div *ngIf="dataelementRev2.createdBy">
                {{ dataelementRev2.createdBy.name }}
              </div>
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.dataelement.lastUpdated">Last Updated</span></td>
            <td>
              <span
                [innerHTML]="
                  showDiff(dataelementRev2.lastUpdated | formatMediumDatetime, dataelementRev1.lastUpdated | formatMediumDatetime)
                "
              ></span>
            </td>
            <td>
              {{ dataelementRev2.lastUpdated | formatMediumDatetime }}
            </td>
          </tr>

          <tr>
            <td><span jhiTranslate="dhis2TrackApp.dataelement.lastUpdatedBy">Last Updated By</span></td>
            <td>
              <div *ngIf="dataelementRev1.lastUpdatedBy && dataelementRev2.lastUpdatedBy">
                <span [innerHTML]="showDiff(dataelementRev2.lastUpdatedBy.name, dataelementRev1.lastUpdatedBy.name)"></span>
              </div>
            </td>
            <td>
              <div *ngIf="dataelementRev2.lastUpdatedBy">
                {{ dataelementRev2.lastUpdatedBy.name }}
              </div>
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.dataelement.publicAccess">Public Access</span></td>
            <td>
              <span [innerHTML]="showDiff(dataelementRev2.publicAccess, dataelementRev1.publicAccess)"></span>
            </td>
            <td>
              {{ dataelementRev2.publicAccess }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.dataelement.aggregationType">Aggregation Type</span></td>
            <td>
              <span [innerHTML]="showDiff(dataelementRev2.aggregationType, dataelementRev1.aggregationType)"></span>
            </td>
            <td>
              {{ dataelementRev2.aggregationType }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.dataelement.valueType">Value Type</span></td>
            <td>
              <span [innerHTML]="showDiff(dataelementRev2.valueType, dataelementRev1.valueType)"></span>
            </td>
            <td>
              {{ dataelementRev2.valueType }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.dataelement.domainType">Domain Type</span></td>
            <td>
              <span [innerHTML]="showDiff(dataelementRev2.domainType, dataelementRev1.domainType)"></span>
            </td>
            <td>
              {{ dataelementRev2.domainType }}
            </td>
          </tr>

          <tr>
            <td><span jhiTranslate="dhis2TrackApp.dataelement.zeroIsSignificant">Zero Is Significant</span></td>
            <td>
              <span [innerHTML]="showDiff(dataelementRev2.zeroIsSignificant, dataelementRev1.zeroIsSignificant)"></span>
            </td>
            <td>
              {{ dataelementRev2.zeroIsSignificant }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.dataelement.optionSetValue">Option Set Value</span></td>
            <td>
              <span [innerHTML]="showDiff(dataelementRev2.optionSetValue, dataelementRev1.optionSetValue)"></span>
            </td>
            <td>
              {{ dataelementRev2.optionSetValue }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.dataelement.dimensionItem">Dimension Item</span></td>
            <td>
              <span [innerHTML]="showDiff(dataelementRev2.dimensionItem, dataelementRev1.dimensionItem)"></span>
            </td>
            <td>
              {{ dataelementRev2.dimensionItem }}
            </td>
          </tr>

          <tr>
            <td><span jhiTranslate="dhis2TrackApp.dataelement.optionSet">Project</span></td>
            <td>
              <div *ngIf="dataelementRev1.optionSet && dataelementRev2.optionSet">
                <span [innerHTML]="showDiff(dataelementRev2.optionSet.id, dataelementRev1.optionSet.id)"></span>
              </div>
            </td>
            <td>
              <div *ngIf="dataelementRev2.optionSet">
                {{ dataelementRev2.optionSet.id }}
              </div>
            </td>
          </tr>

          <tr>
            <td><span jhiTranslate="dhis2TrackApp.dataelement.categoryCombo">Category Combo</span></td>
            <td>
              <div *ngIf="dataelementRev1.categoryCombo && dataelementRev2.categoryCombo">
                <span [innerHTML]="showDiff(dataelementRev2.categoryCombo.id, dataelementRev1.categoryCombo.id)"></span>
              </div>
            </td>
            <td>
              <div *ngIf="dataelementRev2.categoryCombo">
                {{ dataelementRev2.categoryCombo.id }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>
    </div>
  </div>
</div>
