<div class="page-component">
  <h2 id="page-heading" data-cy="ProgramRuleActionHeading">
    <span jhiTranslate="history.title"></span>
    <span jhiTranslate="dhis2TrackApp.programRuleAction.home.title">ProgramRuleActions</span>

    <span *ngIf="programRuleAction" id="audit-id"> : {{ programRuleAction.id }}</span>

    <div class="d-flex justify-content-end">
      <button
        *ngIf="setRev.length == 2"
        type="submit"
        [routerLink]="['/program-rule-action', programRuleAction?.id, 'compare', setRev[0], setRev[1]]"
        class="me-2 btn btn-warning"
        data-cy="entityCompareButton"
      >
        <fa-icon icon="tasks"></fa-icon>&nbsp;<span jhiTranslate="entity.action.compare">Comparer</span>
      </button>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="programRuleActions?.length === 0">
    <span jhiTranslate="dhis2TrackApp.programRuleAction.home.notFound">Aucun Program Rule Action trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="programRuleActions && programRuleActions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="history.number">rev</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programRuleAction.id">Id</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programRuleAction.lastUpdated">Last Updated</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programRuleAction.created">Created</span>
            </div>
          </th>

          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programRuleAction.createdBy">Created By</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programRuleAction.lastUpdatedBy">Last Updated By</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programRuleAction.programRule">Program Rule</span>
            </div>
          </th>

          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programRule.program">Program</span>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let programRuleAction of programRuleActions; trackBy: trackId" data-cy="entityTable">
          <td>
            <input
              [disabled]="setRev.length == 2 && !programRuleAction.isSelected"
              type="checkbox"
              name="select"
              [(ngModel)]="programRuleAction.isSelected"
              (change)="selectRev(programRuleAction)"
            />
          </td>
          <td>
            <div class="float-end">{{ programRuleAction.revisionNumber }}</div>
          </td>
          <td>
            {{ programRuleAction.id }}
          </td>
          <td>{{ programRuleAction.lastUpdated | formatMediumDatetime }}</td>
          <td>{{ programRuleAction.created }}</td>

          <td>
            <div *ngIf="programRuleAction.createdBy">
              {{ programRuleAction.createdBy.name }}
            </div>
          </td>
          <td>
            <div *ngIf="programRuleAction.lastUpdatedBy">
              {{ programRuleAction.lastUpdatedBy.name }}
            </div>
          </td>
          <td>
            <div *ngIf="programRuleAction.programRule">
              {{ programRuleAction.programRule.name }}
            </div>
          </td>
          <td>
            <div *ngIf="programRuleAction.programRule && programRuleAction.programRule.program">
              {{ programRuleAction.programRule.program.name }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
