<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-person-notifier-heading"
        data-cy="PersonNotifierCreateUpdateHeading"
        jhiTranslate="dhis2TrackApp.personNotifier.home.createOrEditLabel"
      >
        Créer ou éditer un Person Notifier
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.personNotifier.personName" for="field_personName">Person Name</label>
          <input
            type="text"
            class="form-control"
            name="personName"
            id="field_personName"
            data-cy="personName"
            formControlName="personName"
          />
          <div *ngIf="editForm.get('personName')!.invalid && (editForm.get('personName')!.dirty || editForm.get('personName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('personName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.personNotifier.personPhone" for="field_personPhone">Person Phone</label>
          <input
            type="text"
            class="form-control"
            name="personPhone"
            id="field_personPhone"
            data-cy="personPhone"
            formControlName="personPhone"
          />
          <div *ngIf="editForm.get('personPhone')!.invalid && (editForm.get('personPhone')!.dirty || editForm.get('personPhone')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('personPhone')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.personNotifier.personEmail" for="field_personEmail">Person Email</label>
          <input
            type="text"
            class="form-control"
            name="personEmail"
            id="field_personEmail"
            data-cy="personEmail"
            formControlName="personEmail"
          />
          <div *ngIf="editForm.get('personEmail')!.invalid && (editForm.get('personEmail')!.dirty || editForm.get('personEmail')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('personEmail')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('personEmail')?.errors?.pattern"
              jhiTranslate="entity.validation.pattern"
              [translateValues]="{ pattern: 'Person Email' }"
            >
              Ce champ doit suivre l'expression régulière Person Email.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.personNotifier.personOrganization" for="field_personOrganization"
            >Person Organization</label
          >
          <input
            type="text"
            class="form-control"
            name="personOrganization"
            id="field_personOrganization"
            data-cy="personOrganization"
            formControlName="personOrganization"
          />
          <div
            *ngIf="
              editForm.get('personOrganization')!.invalid &&
              (editForm.get('personOrganization')!.dirty || editForm.get('personOrganization')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('personOrganization')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.personNotifier.project" for="field_project">Project</label>
          <select
            class="form-control"
            id="field_project"
            data-cy="project"
            name="project"
            formControlName="project"
            [compareWith]="compareProject"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="projectOption" *ngFor="let projectOption of projectsSharedCollection">{{ projectOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
