<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-tracked-entity-attribute-heading"
        data-cy="TrackedEntityAttributeCreateUpdateHeading"
        jhiTranslate="dhis2TrackApp.trackedEntityAttribute.home.createOrEditLabel"
      >
        Créer ou éditer un Tracked Entity Attribute
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.trackedEntityAttribute.id" for="field_id">Id</label>
          <input
            type="text"
            class="form-control"
            name="id"
            id="field_id"
            data-cy="id"
            formControlName="id"
            [readonly]="editForm.get('id')!.value != null"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.trackedEntityAttribute.lastUpdated" for="field_lastUpdated"
            >Last Updated</label
          >
          <div class="d-flex">
            <input
              id="field_lastUpdated"
              data-cy="lastUpdated"
              type="datetime-local"
              class="form-control"
              name="lastUpdated"
              formControlName="lastUpdated"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.trackedEntityAttribute.created" for="field_created">Created</label>
          <div class="d-flex">
            <input
              id="field_created"
              data-cy="created"
              type="datetime-local"
              class="form-control"
              name="created"
              formControlName="created"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.trackedEntityAttribute.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.trackedEntityAttribute.shortName" for="field_shortName">Short Name</label>
          <input type="text" class="form-control" name="shortName" id="field_shortName" data-cy="shortName" formControlName="shortName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.trackedEntityAttribute.generated" for="field_generated">Generated</label>
          <input type="checkbox" class="form-check" name="generated" id="field_generated" data-cy="generated" formControlName="generated" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.trackedEntityAttribute.valueType" for="field_valueType">Value Type</label>
          <input type="text" class="form-control" name="valueType" id="field_valueType" data-cy="valueType" formControlName="valueType" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.trackedEntityAttribute.confidential" for="field_confidential"
            >Confidential</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="confidential"
            id="field_confidential"
            data-cy="confidential"
            formControlName="confidential"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.trackedEntityAttribute.displayFormName" for="field_displayFormName"
            >Display Form Name</label
          >
          <input
            type="text"
            class="form-control"
            name="displayFormName"
            id="field_displayFormName"
            data-cy="displayFormName"
            formControlName="displayFormName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.trackedEntityAttribute.uniquee" for="field_uniquee">Uniquee</label>
          <input type="checkbox" class="form-check" name="uniquee" id="field_uniquee" data-cy="uniquee" formControlName="uniquee" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.trackedEntityAttribute.dimensionItemType" for="field_dimensionItemType"
            >Dimension Item Type</label
          >
          <input
            type="text"
            class="form-control"
            name="dimensionItemType"
            id="field_dimensionItemType"
            data-cy="dimensionItemType"
            formControlName="dimensionItemType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.trackedEntityAttribute.aggregationType" for="field_aggregationType"
            >Aggregation Type</label
          >
          <input
            type="text"
            class="form-control"
            name="aggregationType"
            id="field_aggregationType"
            data-cy="aggregationType"
            formControlName="aggregationType"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="dhis2TrackApp.trackedEntityAttribute.displayInListNoProgram"
            for="field_displayInListNoProgram"
            >Display In List No Program</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="displayInListNoProgram"
            id="field_displayInListNoProgram"
            data-cy="displayInListNoProgram"
            formControlName="displayInListNoProgram"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.trackedEntityAttribute.displayName" for="field_displayName"
            >Display Name</label
          >
          <input
            type="text"
            class="form-control"
            name="displayName"
            id="field_displayName"
            data-cy="displayName"
            formControlName="displayName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.trackedEntityAttribute.patterne" for="field_patterne">Patterne</label>
          <input type="text" class="form-control" name="patterne" id="field_patterne" data-cy="patterne" formControlName="patterne" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.trackedEntityAttribute.skipSynchronization" for="field_skipSynchronization"
            >Skip Synchronization</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="skipSynchronization"
            id="field_skipSynchronization"
            data-cy="skipSynchronization"
            formControlName="skipSynchronization"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.trackedEntityAttribute.displayShortName" for="field_displayShortName"
            >Display Short Name</label
          >
          <input
            type="text"
            class="form-control"
            name="displayShortName"
            id="field_displayShortName"
            data-cy="displayShortName"
            formControlName="displayShortName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.trackedEntityAttribute.periodOffset" for="field_periodOffset"
            >Period Offset</label
          >
          <input
            type="number"
            class="form-control"
            name="periodOffset"
            id="field_periodOffset"
            data-cy="periodOffset"
            formControlName="periodOffset"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="dhis2TrackApp.trackedEntityAttribute.displayOnVisitSchedule"
            for="field_displayOnVisitSchedule"
            >Display On Visit Schedule</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="displayOnVisitSchedule"
            id="field_displayOnVisitSchedule"
            data-cy="displayOnVisitSchedule"
            formControlName="displayOnVisitSchedule"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.trackedEntityAttribute.formName" for="field_formName">Form Name</label>
          <input type="text" class="form-control" name="formName" id="field_formName" data-cy="formName" formControlName="formName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.trackedEntityAttribute.orgunitScope" for="field_orgunitScope"
            >Orgunit Scope</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="orgunitScope"
            id="field_orgunitScope"
            data-cy="orgunitScope"
            formControlName="orgunitScope"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.trackedEntityAttribute.dimensionItem" for="field_dimensionItem"
            >Dimension Item</label
          >
          <input
            type="text"
            class="form-control"
            name="dimensionItem"
            id="field_dimensionItem"
            data-cy="dimensionItem"
            formControlName="dimensionItem"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.trackedEntityAttribute.inherit" for="field_inherit">Inherit</label>
          <input type="checkbox" class="form-check" name="inherit" id="field_inherit" data-cy="inherit" formControlName="inherit" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.trackedEntityAttribute.optionSetValue" for="field_optionSetValue"
            >Option Set Value</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="optionSetValue"
            id="field_optionSetValue"
            data-cy="optionSetValue"
            formControlName="optionSetValue"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.trackedEntityAttribute.track" for="field_track">Track</label>
          <select class="form-control" name="track" formControlName="track" id="field_track" data-cy="track">
            <option [ngValue]="null">{{ 'dhis2TrackApp.TypeTrack.null' | translate }}</option>
            <option *ngFor="let typeTrack of typeTrackValues" [value]="typeTrack">
              {{ 'dhis2TrackApp.TypeTrack.' + typeTrack | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('track')!.invalid && (editForm.get('track')!.dirty || editForm.get('track')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('track')?.errors?.required" jhiTranslate="entity.validation.required">
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.trackedEntityAttribute.project" for="field_project">Project</label>
          <select
            class="form-control"
            id="field_project"
            data-cy="project"
            name="project"
            formControlName="project"
            [compareWith]="compareProject"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="projectOption" *ngFor="let projectOption of projectsSharedCollection">{{ projectOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.trackedEntityAttribute.createdBy" for="field_createdBy">Created By</label>
          <select
            class="form-control"
            id="field_createdBy"
            data-cy="createdBy"
            name="createdBy"
            formControlName="createdBy"
            [compareWith]="compareDHISUser"
          >
            <option *ngIf="!editForm.get('createdBy')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="dHISUserOption" *ngFor="let dHISUserOption of dHISUsersSharedCollection">{{ dHISUserOption.id }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['createdBy'])!.invalid && (editForm.get(['createdBy'])!.dirty || editForm.get(['createdBy'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['createdBy'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            Ce champ est obligatoire.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.trackedEntityAttribute.lastUpdatedBy" for="field_lastUpdatedBy"
            >Last Updated By</label
          >
          <select
            class="form-control"
            id="field_lastUpdatedBy"
            data-cy="lastUpdatedBy"
            name="lastUpdatedBy"
            formControlName="lastUpdatedBy"
            [compareWith]="compareDHISUser"
          >
            <option *ngIf="!editForm.get('lastUpdatedBy')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="dHISUserOption" *ngFor="let dHISUserOption of dHISUsersSharedCollection">{{ dHISUserOption.id }}</option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['lastUpdatedBy'])!.invalid && (editForm.get(['lastUpdatedBy'])!.dirty || editForm.get(['lastUpdatedBy'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['lastUpdatedBy'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            Ce champ est obligatoire.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.trackedEntityAttribute.optionSet" for="field_optionSet">Option Set</label>
          <select
            class="form-control"
            id="field_optionSet"
            data-cy="optionSet"
            name="optionSet"
            formControlName="optionSet"
            [compareWith]="compareOptionset"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="optionsetOption" *ngFor="let optionsetOption of optionsetsSharedCollection">{{ optionsetOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
