<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-tracked-entity-attribute-heading"
        data-cy="TrackedEntityAttributeCreateUpdateHeading"
        jhiTranslate="dhis2AuditApp.trackedEntityAttribute.home.createOrEditLabel"
      >
        Créer ou éditer un Tracked Entity Attribute
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="dhis2AuditApp.trackedEntityAttribute.id">Id</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_lastUpdated" jhiTranslate="dhis2AuditApp.trackedEntityAttribute.lastUpdated"
            >Last Updated</label
          >
          <div class="d-flex">
            <input
              id="field_lastUpdated"
              data-cy="lastUpdated"
              type="datetime-local"
              class="form-control"
              name="lastUpdated"
              formControlName="lastUpdated"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_created" jhiTranslate="dhis2AuditApp.trackedEntityAttribute.created">Created</label>
          <div class="d-flex">
            <input
              id="field_created"
              data-cy="created"
              type="datetime-local"
              class="form-control"
              name="created"
              formControlName="created"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="dhis2AuditApp.trackedEntityAttribute.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_shortName" jhiTranslate="dhis2AuditApp.trackedEntityAttribute.shortName">Short Name</label>
          <input type="text" class="form-control" name="shortName" id="field_shortName" data-cy="shortName" formControlName="shortName" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_generated" jhiTranslate="dhis2AuditApp.trackedEntityAttribute.generated">Generated</label>
          <input type="checkbox" class="form-check" name="generated" id="field_generated" data-cy="generated" formControlName="generated" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_valueType" jhiTranslate="dhis2AuditApp.trackedEntityAttribute.valueType">Value Type</label>
          <input type="text" class="form-control" name="valueType" id="field_valueType" data-cy="valueType" formControlName="valueType" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_confidential" jhiTranslate="dhis2AuditApp.trackedEntityAttribute.confidential"
            >Confidential</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="confidential"
            id="field_confidential"
            data-cy="confidential"
            formControlName="confidential"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_displayFormName" jhiTranslate="dhis2AuditApp.trackedEntityAttribute.displayFormName"
            >Display Form Name</label
          >
          <input
            type="text"
            class="form-control"
            name="displayFormName"
            id="field_displayFormName"
            data-cy="displayFormName"
            formControlName="displayFormName"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_uniquee" jhiTranslate="dhis2AuditApp.trackedEntityAttribute.uniquee">Uniquee</label>
          <input type="checkbox" class="form-check" name="uniquee" id="field_uniquee" data-cy="uniquee" formControlName="uniquee" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dimensionItemType" jhiTranslate="dhis2AuditApp.trackedEntityAttribute.dimensionItemType"
            >Dimension Item Type</label
          >
          <input
            type="text"
            class="form-control"
            name="dimensionItemType"
            id="field_dimensionItemType"
            data-cy="dimensionItemType"
            formControlName="dimensionItemType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_aggregationType" jhiTranslate="dhis2AuditApp.trackedEntityAttribute.aggregationType"
            >Aggregation Type</label
          >
          <input
            type="text"
            class="form-control"
            name="aggregationType"
            id="field_aggregationType"
            data-cy="aggregationType"
            formControlName="aggregationType"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_displayInListNoProgram"
            jhiTranslate="dhis2AuditApp.trackedEntityAttribute.displayInListNoProgram"
            >Display In List No Program</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="displayInListNoProgram"
            id="field_displayInListNoProgram"
            data-cy="displayInListNoProgram"
            formControlName="displayInListNoProgram"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_displayName" jhiTranslate="dhis2AuditApp.trackedEntityAttribute.displayName"
            >Display Name</label
          >
          <input
            type="text"
            class="form-control"
            name="displayName"
            id="field_displayName"
            data-cy="displayName"
            formControlName="displayName"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_patterne" jhiTranslate="dhis2AuditApp.trackedEntityAttribute.patterne">Patterne</label>
          <input type="text" class="form-control" name="patterne" id="field_patterne" data-cy="patterne" formControlName="patterne" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_skipSynchronization" jhiTranslate="dhis2AuditApp.trackedEntityAttribute.skipSynchronization"
            >Skip Synchronization</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="skipSynchronization"
            id="field_skipSynchronization"
            data-cy="skipSynchronization"
            formControlName="skipSynchronization"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_displayShortName" jhiTranslate="dhis2AuditApp.trackedEntityAttribute.displayShortName"
            >Display Short Name</label
          >
          <input
            type="text"
            class="form-control"
            name="displayShortName"
            id="field_displayShortName"
            data-cy="displayShortName"
            formControlName="displayShortName"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_periodOffset" jhiTranslate="dhis2AuditApp.trackedEntityAttribute.periodOffset"
            >Period Offset</label
          >
          <input
            type="number"
            class="form-control"
            name="periodOffset"
            id="field_periodOffset"
            data-cy="periodOffset"
            formControlName="periodOffset"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_displayOnVisitSchedule"
            jhiTranslate="dhis2AuditApp.trackedEntityAttribute.displayOnVisitSchedule"
            >Display On Visit Schedule</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="displayOnVisitSchedule"
            id="field_displayOnVisitSchedule"
            data-cy="displayOnVisitSchedule"
            formControlName="displayOnVisitSchedule"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_formName" jhiTranslate="dhis2AuditApp.trackedEntityAttribute.formName">Form Name</label>
          <input type="text" class="form-control" name="formName" id="field_formName" data-cy="formName" formControlName="formName" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_orgunitScope" jhiTranslate="dhis2AuditApp.trackedEntityAttribute.orgunitScope"
            >Orgunit Scope</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="orgunitScope"
            id="field_orgunitScope"
            data-cy="orgunitScope"
            formControlName="orgunitScope"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dimensionItem" jhiTranslate="dhis2AuditApp.trackedEntityAttribute.dimensionItem"
            >Dimension Item</label
          >
          <input
            type="text"
            class="form-control"
            name="dimensionItem"
            id="field_dimensionItem"
            data-cy="dimensionItem"
            formControlName="dimensionItem"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_inherit" jhiTranslate="dhis2AuditApp.trackedEntityAttribute.inherit">Inherit</label>
          <input type="checkbox" class="form-check" name="inherit" id="field_inherit" data-cy="inherit" formControlName="inherit" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_optionSetValue" jhiTranslate="dhis2AuditApp.trackedEntityAttribute.optionSetValue"
            >Option Set Value</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="optionSetValue"
            id="field_optionSetValue"
            data-cy="optionSetValue"
            formControlName="optionSetValue"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_track" jhiTranslate="dhis2AuditApp.trackedEntityAttribute.track">Track</label>
          <select class="form-control" name="track" formControlName="track" id="field_track" data-cy="track">
            <option [ngValue]="null">{{ 'dhis2AuditApp.TypeTrack.null' | translate }}</option>
            @for (typeTrack of typeTrackValues; track $index) {
              <option [value]="typeTrack">{{ 'dhis2AuditApp.TypeTrack.' + typeTrack | translate }}</option>
            }
          </select>
          @if (editForm.get('track')!.invalid && (editForm.get('track')!.dirty || editForm.get('track')!.touched)) {
            <div>
              @if (editForm.get('track')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_project" jhiTranslate="dhis2AuditApp.trackedEntityAttribute.project">Project</label>
          <select
            class="form-control"
            id="field_project"
            data-cy="project"
            name="project"
            formControlName="project"
            [compareWith]="compareProject"
          >
            <option [ngValue]="null"></option>
            @for (projectOption of projectsSharedCollection; track $index) {
              <option [ngValue]="projectOption">{{ projectOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdBy" jhiTranslate="dhis2AuditApp.trackedEntityAttribute.createdBy">Created By</label>
          <select
            class="form-control"
            id="field_createdBy"
            data-cy="createdBy"
            name="createdBy"
            formControlName="createdBy"
            [compareWith]="compareDHISUser"
          >
            @if (!editForm.get('createdBy')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (dHISUserOption of dHISUsersSharedCollection; track $index) {
              <option [ngValue]="dHISUserOption">{{ dHISUserOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['createdBy'])!.invalid && (editForm.get(['createdBy'])!.dirty || editForm.get(['createdBy'])!.touched)) {
          <div>
            @if (editForm.get(['createdBy'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_lastUpdatedBy" jhiTranslate="dhis2AuditApp.trackedEntityAttribute.lastUpdatedBy"
            >Last Updated By</label
          >
          <select
            class="form-control"
            id="field_lastUpdatedBy"
            data-cy="lastUpdatedBy"
            name="lastUpdatedBy"
            formControlName="lastUpdatedBy"
            [compareWith]="compareDHISUser"
          >
            @if (!editForm.get('lastUpdatedBy')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (dHISUserOption of dHISUsersSharedCollection; track $index) {
              <option [ngValue]="dHISUserOption">{{ dHISUserOption.id }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['lastUpdatedBy'])!.invalid && (editForm.get(['lastUpdatedBy'])!.dirty || editForm.get(['lastUpdatedBy'])!.touched)
        ) {
          <div>
            @if (editForm.get(['lastUpdatedBy'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_optionSet" jhiTranslate="dhis2AuditApp.trackedEntityAttribute.optionSet">Option Set</label>
          <select
            class="form-control"
            id="field_optionSet"
            data-cy="optionSet"
            name="optionSet"
            formControlName="optionSet"
            [compareWith]="compareOptionset"
          >
            <option [ngValue]="null"></option>
            @for (optionsetOption of optionsetsSharedCollection; track $index) {
              <option [ngValue]="optionsetOption">{{ optionsetOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_programs" jhiTranslate="dhis2AuditApp.trackedEntityAttribute.program">Program</label>
          <select
            class="form-control"
            id="field_programs"
            data-cy="program"
            multiple
            name="programs"
            formControlName="programs"
            [compareWith]="compareProgram"
          >
            @for (programOption of programsSharedCollection; track $index) {
              <option [ngValue]="programOption">{{ programOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
