<div class="d-flex justify-content-center">
  <div class="col-10">
    <div *ngIf="programStage && programStageRev1 && programStageRev2">
      <h2 data-cy="programStageDetailsHeading"><span jhiTranslate="dhis2TrackApp.programStage.detail.title">Program Stage</span></h2>

      <table class="table long-table">
        <thead>
          <tr>
            <th><span>Field</span></th>
            <th><span>Revision 1</span></th>
            <th><span>Revision 2</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programStage.id">Id</span></td>
            <td>
              <span [innerHTML]="showDiff(programStageRev2.id, programStageRev1.id)"></span>
            </td>
            <td>
              {{ programStageRev2.id }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programStage.name">Name</span></td>
            <td>
              <span [innerHTML]="showDiff(programStageRev2.name, programStageRev1.name)"></span>
            </td>
            <td>
              {{ programStageRev2.name }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programStage.created">Created</span></td>
            <td>
              {{ programStageRev1.created | formatMediumDatetime }}
            </td>
            <td>
              {{ programStageRev2.created | formatMediumDatetime }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programStage.createdBy">Created By</span></td>
            <td>
              <span *ngIf="programStageRev1.createdBy">{{ programStageRev1.createdBy.name }}</span>
            </td>
            <td>
              <span *ngIf="programStageRev2.createdBy">{{ programStageRev2.createdBy.name }}</span>
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programStage.lastUpdated">Last Updated</span></td>
            <td>
              <span
                [innerHTML]="
                  showDiff(
                    programStageRev2.lastUpdated ? (programStageRev1.lastUpdated | formatMediumDatetime) : '',
                    programStageRev1.lastUpdated ? (programStageRev1.lastUpdated | formatMediumDatetime) : ''
                  )
                "
              ></span>
            </td>
            <td>
              {{ programStageRev2.lastUpdated ? (programStageRev2.lastUpdated | formatMediumDatetime) : '' }}
            </td>
          </tr>

          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programStage.lastUpdatedBy">Last Updated By</span></td>
            <td>
              <span
                *ngIf="programStageRev2.lastUpdatedBy && programStageRev1.lastUpdatedBy"
                [innerHTML]="showDiff(programStageRev2.lastUpdatedBy.name, programStageRev1.lastUpdatedBy.name)"
              ></span>
            </td>
            <td>
              <span *ngIf="programStageRev2.lastUpdatedBy">{{ programStageRev2.lastUpdatedBy.name }}</span>
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programStage.minDaysFromStart">Min Days From Start</span></td>
            <td>
              <span [innerHTML]="showDiff(programStageRev2.minDaysFromStart, programStageRev1.minDaysFromStart)"></span>
            </td>
            <td>
              {{ programStageRev2.minDaysFromStart }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programStage.executionDateLabel">Execution Date Label</span></td>
            <td>
              <span [innerHTML]="showDiff(programStageRev2.executionDateLabel, programStageRev1.executionDateLabel)"></span>
            </td>
            <td>
              {{ programStageRev2.executionDateLabel }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programStage.autoGenerateEvent">Auto Generate Event</span></td>
            <td>
              <span [innerHTML]="showDiff(programStageRev2.autoGenerateEvent, programStageRev1.autoGenerateEvent)"></span>
            </td>
            <td>
              {{ programStageRev2.autoGenerateEvent }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programStage.validationStrategy">Validation Strategy</span></td>
            <td>
              <span [innerHTML]="showDiff(programStageRev2.validationStrategy, programStageRev1.validationStrategy)"></span>
            </td>
            <td>
              {{ programStageRev2.validationStrategy }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programStage.displayGenerateEventBox">Display Generate Event Box</span></td>
            <td>
              <span [innerHTML]="showDiff(programStageRev2.displayGenerateEventBox, programStageRev1.displayGenerateEventBox)"></span>
            </td>
            <td>
              {{ programStageRev2.displayGenerateEventBox }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programStage.featureType">Feature Type</span></td>
            <td>
              <span [innerHTML]="showDiff(programStageRev2.featureType, programStageRev1.featureType)"></span>
            </td>
            <td>
              {{ programStageRev2.featureType }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programStage.blockEntryForm">Block Entry Form</span></td>
            <td>
              <span [innerHTML]="showDiff(programStageRev2.blockEntryForm, programStageRev1.blockEntryForm)"></span>
            </td>
            <td>
              {{ programStageRev2.blockEntryForm }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programStage.preGenerateUID">Pre Generate UID</span></td>
            <td>
              <span [innerHTML]="showDiff(programStageRev2.preGenerateUID, programStageRev1.preGenerateUID)"></span>
            </td>
            <td>
              {{ programStageRev2.preGenerateUID }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programStage.remindCompleted">Remind Completed</span></td>
            <td>
              <span [innerHTML]="showDiff(programStageRev2.remindCompleted, programStageRev1.remindCompleted)"></span>
            </td>
            <td>
              {{ programStageRev2.remindCompleted }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programStage.generatedByEnrollmentDate">Generated By Enrollment Date</span></td>
            <td>
              <span [innerHTML]="showDiff(programStageRev2.generatedByEnrollmentDate, programStageRev1.generatedByEnrollmentDate)"></span>
            </td>
            <td>
              {{ programStageRev2.generatedByEnrollmentDate }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programStage.allowGenerateNextVisit">Allow Generate Next Visit</span></td>
            <td>
              <span [innerHTML]="showDiff(programStageRev2.allowGenerateNextVisit, programStageRev1.allowGenerateNextVisit)"></span>
            </td>
            <td>
              {{ programStageRev2.allowGenerateNextVisit }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programStage.openAfterEnrollment">Open After Enrollment</span></td>
            <td>
              <span [innerHTML]="showDiff(programStageRev2.openAfterEnrollment, programStageRev1.openAfterEnrollment)"></span>
            </td>
            <td>
              {{ programStageRev2.openAfterEnrollment }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programStage.sortOrder">Sort Order</span></td>
            <td>
              <span [innerHTML]="showDiff(programStageRev2.sortOrder, programStageRev1.sortOrder)"></span>
            </td>
            <td>
              {{ programStageRev2.sortOrder }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programStage.hideDueDate">Hide Due Date</span></td>
            <td>
              <span [innerHTML]="showDiff(programStageRev2.hideDueDate, programStageRev1.hideDueDate)"></span>
            </td>
            <td>
              {{ programStageRev2.hideDueDate }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programStage.enableUserAssignment">Enable User Assignment</span></td>
            <td>
              <span [innerHTML]="showDiff(programStageRev2.enableUserAssignment, programStageRev1.enableUserAssignment)"></span>
            </td>
            <td>
              {{ programStageRev2.enableUserAssignment }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programStage.referral">Referral</span></td>
            <td>
              <span [innerHTML]="showDiff(programStageRev2.referral, programStageRev1.referral)"></span>
            </td>
            <td>
              {{ programStageRev2.referral }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programStage.displayExecutionDateLabel">Display Execution Date Label</span></td>
            <td>
              <span [innerHTML]="showDiff(programStageRev2.displayExecutionDateLabel, programStageRev1.displayExecutionDateLabel)"></span>
            </td>
            <td>
              {{ programStageRev2.displayExecutionDateLabel }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programStage.formType">Form Type</span></td>
            <td>
              <span [innerHTML]="showDiff(programStageRev2.formType, programStageRev1.formType)"></span>
            </td>
            <td>
              {{ programStageRev2.formType }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programStage.displayFormName">Display Form Name</span></td>
            <td>
              <span [innerHTML]="showDiff(programStageRev2.displayFormName, programStageRev1.displayFormName)"></span>
            </td>
            <td>
              {{ programStageRev2.displayFormName }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programStage.displayName">Display Name</span></td>
            <td>
              <span [innerHTML]="showDiff(programStageRev2.displayName, programStageRev1.displayName)"></span>
            </td>
            <td>
              {{ programStageRev2.displayName }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programStage.repeatable">Repeatable</span></td>
            <td>
              <span [innerHTML]="showDiff(programStageRev2.repeatable, programStageRev1.repeatable)"></span>
            </td>
            <td>
              {{ programStageRev2.repeatable }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programStage.programStageDataElementsCount">Program Stage Data Elements Count</span></td>
            <td>
              <span
                [innerHTML]="showDiff(programStageRev2.programStageDataElementsCount, programStageRev1.programStageDataElementsCount)"
              ></span>
            </td>
            <td>
              {{ programStageRev2.programStageDataElementsCount }}
            </td>
          </tr>
          <tr>
            <td>
              <span jhiTranslate="dhis2TrackApp.programStage.programStageDataElementsContent">Program Stage Data Elements Content</span>
            </td>
            <td>
              <span
                [innerHTML]="showDiff(programStageRev2.programStageDataElementsContent, programStageRev1.programStageDataElementsContent)"
              ></span>
            </td>
            <td>
              {{ programStageRev2.programStageDataElementsContent }}
            </td>
          </tr>

          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programStage.program">Program</span></td>
            <td>
              <span [innerHTML]="showDiff(programStageRev2.program?.name, programStageRev1.program?.name)"></span>
            </td>
            <td>
              {{ programStageRev2.program?.name }}
            </td>
          </tr>
        </tbody>
      </table>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>
    </div>
  </div>
</div>
