<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (organisationUnit()) {
      <div>
        <h2 data-cy="organisationUnitDetailsHeading">
          <span jhiTranslate="dhis2AuditApp.organisationUnit.detail.title">Organisation Unit</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="dhis2AuditApp.organisationUnit.id">Id</span></dt>
          <dd>
            <span>{{ organisationUnit()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="dhis2AuditApp.organisationUnit.name">Name</span></dt>
          <dd>
            <span>{{ organisationUnit()!.name }}</span>
          </dd>
          <dt><span jhiTranslate="dhis2AuditApp.organisationUnit.created">Created</span></dt>
          <dd>
            <span>{{ organisationUnit()!.created | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="dhis2AuditApp.organisationUnit.lastUpdated">Last Updated</span></dt>
          <dd>
            <span>{{ organisationUnit()!.lastUpdated | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="dhis2AuditApp.organisationUnit.path">Path</span></dt>
          <dd>
            <span>{{ organisationUnit()!.path }}</span>
          </dd>
          <dt><span jhiTranslate="dhis2AuditApp.organisationUnit.openingDate">Opening Date</span></dt>
          <dd>
            <span>{{ organisationUnit()!.openingDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="dhis2AuditApp.organisationUnit.level">Level</span></dt>
          <dd>
            <span>{{ organisationUnit()!.level }}</span>
          </dd>
          <dt><span jhiTranslate="dhis2AuditApp.organisationUnit.track">Track</span></dt>
          <dd>
            <span [jhiTranslate]="'dhis2AuditApp.TypeTrack.' + (organisationUnit()!.track ?? 'null')">{{
              { null: '', NEW: 'NEW', UPDATE: 'UPDATE', NONE: 'NONE' }[organisationUnit()!.track ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="dhis2AuditApp.organisationUnit.createdBy">Created By</span></dt>
          <dd>
            @if (organisationUnit()!.createdBy) {
              <div>
                <a [routerLink]="['/dhis-user', organisationUnit()!.createdBy?.id, 'view']">{{ organisationUnit()!.createdBy?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="dhis2AuditApp.organisationUnit.lastUpdatedBy">Last Updated By</span></dt>
          <dd>
            @if (organisationUnit()!.lastUpdatedBy) {
              <div>
                <a [routerLink]="['/dhis-user', organisationUnit()!.lastUpdatedBy?.id, 'view']">{{
                  organisationUnit()!.lastUpdatedBy?.id
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="dhis2AuditApp.organisationUnit.program">Program</span></dt>
          <dd>
            @for (program of organisationUnit()!.programs; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/program', program.id, 'view']">{{ program?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
          <dt><span jhiTranslate="dhis2AuditApp.organisationUnit.dataset">Dataset</span></dt>
          <dd>
            @for (dataset of organisationUnit()!.datasets; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/dataset', dataset.id, 'view']">{{ dataset?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/organisation-unit', organisationUnit()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
