<div class="d-flex justify-content-center page-component">
  <div class="col-10">
    <div *ngIf="organisationUnitRev1 && organisationUnitRev2">
      <h2 data-cy="organisationUnitDetailsHeading">
        <span jhiTranslate="dhis2TrackApp.organisationUnit.detail.title">Organisation Unit</span>
      </h2>

      <hr />

      <table class="table long-table">
        <thead>
          <tr>
            <th>Field</th>
            <th>Revision 1</th>
            <th>Revision 2</th>
          </tr>
        </thead>
        <tbody>
          <!-- Row for each field -->
          <tr>
            <td>Id</td>
            <td>
              <span [innerHTML]="showDiff(organisationUnitRev2.id, organisationUnitRev1.id)"></span>
            </td>
            <td>
              {{ organisationUnitRev2.id }}
            </td>
          </tr>
          <tr>
            <td>Name</td>
            <td>
              <span [innerHTML]="showDiff(organisationUnitRev2.name, organisationUnitRev1.name)"></span>
            </td>
            <td>
              {{ organisationUnitRev2.name }}
            </td>
          </tr>
          <tr>
            <td>Path</td>
            <td>
              <span [innerHTML]="showDiff(organisationUnitRev2.path, organisationUnitRev1.path)"></span>
            </td>
            <td>
              {{ organisationUnitRev2.path }}
            </td>
          </tr>
          <tr>
            <td>Opening Date</td>
            <td>
              <span
                [innerHTML]="
                  showDiff(organisationUnitRev2.openingDate | formatMediumDatetime, organisationUnitRev1.openingDate | formatMediumDatetime)
                "
              ></span>
            </td>
            <td>
              {{ organisationUnitRev2.openingDate | formatMediumDatetime }}
            </td>
          </tr>
          <tr>
            <td>Level</td>
            <td>
              <span [innerHTML]="showDiff(organisationUnitRev2.level, organisationUnitRev1.level)"></span>
            </td>
            <td>
              {{ organisationUnitRev2.level }}
            </td>
          </tr>

          <tr>
            <td>Created</td>
            <td>
              <span
                [innerHTML]="
                  showDiff(organisationUnitRev2.created | formatMediumDatetime, organisationUnitRev1.created | formatMediumDatetime)
                "
              ></span>
            </td>
            <td>
              {{ organisationUnitRev2.created | formatMediumDatetime }}
            </td>
          </tr>
          <tr>
            <td>Last Updated</td>
            <td>
              <span
                [innerHTML]="
                  showDiff(organisationUnitRev2.lastUpdated | formatMediumDatetime, organisationUnitRev1.lastUpdated | formatMediumDatetime)
                "
              ></span>
            </td>
            <td>
              {{ organisationUnitRev2.lastUpdated | formatMediumDatetime }}
            </td>
          </tr>
          <tr>
            <td>Created By</td>
            <td>
              <span
                *ngIf="organisationUnitRev2.createdBy && organisationUnitRev1.createdBy"
                [innerHTML]="showDiff(organisationUnitRev2.createdBy.name, organisationUnitRev1.createdBy.name)"
              ></span>
            </td>
            <td>
              <span *ngIf="organisationUnitRev2.createdBy">{{ organisationUnitRev2.createdBy.name }}</span>
            </td>
          </tr>
          <tr>
            <td>Last Updated By</td>
            <td>
              <span
                *ngIf="organisationUnitRev2.lastUpdatedBy && organisationUnitRev1.lastUpdatedBy"
                [innerHTML]="showDiff(organisationUnitRev2.lastUpdatedBy.name, organisationUnitRev1.lastUpdatedBy.name)"
              ></span>
            </td>
            <td>
              <span *ngIf="organisationUnitRev2.lastUpdatedBy">{{ organisationUnitRev2.lastUpdatedBy.name }}</span>
            </td>
          </tr>
        </tbody>
      </table>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>
    </div>
  </div>
</div>
