<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="organisationUnit">
      <h2 data-cy="organisationUnitDetailsHeading">
        <span jhiTranslate="dhis2TrackApp.organisationUnit.detail.title">Organisation Unit</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="dhis2TrackApp.organisationUnit.id">Id</span></dt>
        <dd>
          <span>{{ organisationUnit.id }}</span>
        </dd>
        <dt><span jhiTranslate="dhis2TrackApp.organisationUnit.name">Name</span></dt>
        <dd>
          <span>{{ organisationUnit.name }}</span>
        </dd>
        <dt><span jhiTranslate="dhis2TrackApp.organisationUnit.created">Created</span></dt>
        <dd>
          <span>{{ organisationUnit.created | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="dhis2TrackApp.organisationUnit.lastUpdated">Last Updated</span></dt>
        <dd>
          <span>{{ organisationUnit.lastUpdated | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="dhis2TrackApp.organisationUnit.path">Path</span></dt>
        <dd>
          <span>{{ organisationUnit.path }}</span>
        </dd>
        <dt><span jhiTranslate="dhis2TrackApp.organisationUnit.openingDate">Opening Date</span></dt>
        <dd>
          <span>{{ organisationUnit.openingDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="dhis2TrackApp.organisationUnit.level">Level</span></dt>
        <dd>
          <span>{{ organisationUnit.level }}</span>
        </dd>
        <dt><span jhiTranslate="dhis2TrackApp.organisationUnit.track">Track</span></dt>
        <dd>
          <span jhiTranslate="{{ 'dhis2TrackApp.TypeTrack.' + organisationUnit.track }}">{{ organisationUnit.track }}</span>
        </dd>
        <dt><span jhiTranslate="dhis2TrackApp.organisationUnit.createdBy">Created By</span></dt>
        <dd>
          <div *ngIf="organisationUnit.createdBy">
            <a [routerLink]="['/dhis-user', organisationUnit.createdBy.name, 'view']">{{ organisationUnit.createdBy.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="dhis2TrackApp.organisationUnit.lastUpdatedBy">Last Updated By</span></dt>
        <dd>
          <div *ngIf="organisationUnit.lastUpdatedBy">
            <a [routerLink]="['/dhis-user', organisationUnit.lastUpdatedBy.name, 'view']">{{ organisationUnit.lastUpdatedBy.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/organisation-unit', organisationUnit.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
