<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="programRule">
      <h2 data-cy="programRuleDetailsHeading"><span jhiTranslate="dhis2TrackApp.programRule.detail.title">Program Rule</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="dhis2TrackApp.programRule.id">Id</span></dt>
        <dd>
          <span>{{ programRule.id }}</span>
        </dd>
        <dt><span jhiTranslate="dhis2TrackApp.programRule.lastUpdated">Last Updated</span></dt>
        <dd>
          <span>{{ programRule.lastUpdated | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="dhis2TrackApp.programRule.created">Created</span></dt>
        <dd>
          <span>{{ programRule.created | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="dhis2TrackApp.programRule.name">Name</span></dt>
        <dd>
          <span>{{ programRule.name }}</span>
        </dd>
        <dt><span jhiTranslate="dhis2TrackApp.programRule.displayName">Display Name</span></dt>
        <dd>
          <span>{{ programRule.displayName }}</span>
        </dd>
        <dt><span jhiTranslate="dhis2TrackApp.programRule.priority">Priority</span></dt>
        <dd>
          <span>{{ programRule.priority }}</span>
        </dd>
        <dt><span jhiTranslate="dhis2TrackApp.programRule.condition">Condition</span></dt>
        <dd>
          <span>{{ programRule.condition }}</span>
        </dd>
        <dt><span jhiTranslate="dhis2TrackApp.programRule.track">Track</span></dt>
        <dd>
          <span jhiTranslate="{{ 'dhis2TrackApp.TypeTrack.' + programRule.track }}">{{ programRule.track }}</span>
        </dd>
        <dt><span jhiTranslate="dhis2TrackApp.programRule.project">Project</span></dt>
        <dd>
          <div *ngIf="programRule.project">
            <a [routerLink]="['/project', programRule.project.id, 'view']">{{ programRule.project.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="dhis2TrackApp.programRule.createdBy">Created By</span></dt>
        <dd>
          <div *ngIf="programRule.createdBy">
            <a [routerLink]="['/dhis-user', programRule.createdBy.name, 'view']">{{ programRule.createdBy.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="dhis2TrackApp.programRule.lastUpdatedBy">Last Updated By</span></dt>
        <dd>
          <div *ngIf="programRule.lastUpdatedBy">
            <a [routerLink]="['/dhis-user', programRule.lastUpdatedBy.name, 'view']">{{ programRule.lastUpdatedBy.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="dhis2TrackApp.programRule.program">Program</span></dt>
        <dd>
          <div *ngIf="programRule.program">
            <a [routerLink]="['/program', programRule.program.name, 'view']">{{ programRule.program.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/program-rule', programRule.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
