<div class="d-flex justify-content-center page-component">
  <div class="col-10">
    <div *ngIf="programRuleRev1 && programRuleRev2">
      <h2 data-cy="programRuleDetailsHeading"><span jhiTranslate="dhis2TrackApp.programRule.detail.title">Program Rule</span></h2>

      <hr />

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour </span>
      </button>

      <br /><br />

      <table class="table-responsive">
        <thead>
          <tr>
            <th><span>Field</span></th>
            <th><span>Revision 1</span></th>
            <th><span>Revision 2</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span jhiTranslate="dhis2TrackApp.programRule.id">Id</span>
            </td>
            <td>
              <span [innerHTML]="showDiff(programRuleRev2.id, programRuleRev1.id)"></span>
            </td>
            <td>
              {{ programRuleRev2.id }}
            </td>
          </tr>
          <tr>
            <td>
              <span jhiTranslate="dhis2TrackApp.programRule.created">Created</span>
            </td>
            <td>
              <span
                [innerHTML]="showDiff(programRuleRev2.created | formatMediumDatetime, programRuleRev1.created | formatMediumDatetime)"
              ></span>
            </td>
            <td>
              {{ programRuleRev2.created | formatMediumDatetime }}
            </td>
          </tr>
          <tr>
            <td>
              <span jhiTranslate="dhis2TrackApp.programRule.createdBy">Created By</span>
            </td>
            <td>
              <div *ngIf="programRuleRev1.createdBy">
                {{ programRuleRev1.createdBy.name }}
              </div>
            </td>
            <td>
              <div *ngIf="programRuleRev2.createdBy">
                {{ programRuleRev2.createdBy.name }}
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <span jhiTranslate="dhis2TrackApp.programRule.lastUpdated">Last Updated</span>
            </td>
            <td>
              <span
                [innerHTML]="
                  showDiff(programRuleRev2.lastUpdated | formatMediumDatetime, programRuleRev1.lastUpdated | formatMediumDatetime)
                "
              ></span>
            </td>
            <td>
              {{ programRuleRev2.lastUpdated | formatMediumDatetime }}
            </td>
          </tr>

          <tr>
            <td>
              <span jhiTranslate="dhis2TrackApp.programRule.lastUpdatedBy">Last Updated By</span>
            </td>
            <td>
              <div *ngIf="programRuleRev1.lastUpdatedBy && programRuleRev2.lastUpdatedBy">
                <span [innerHTML]="showDiff(programRuleRev2.lastUpdatedBy.name, programRuleRev1.lastUpdatedBy.name)"></span>
              </div>
            </td>
            <td>
              <div *ngIf="programRuleRev2.lastUpdatedBy">
                {{ programRuleRev2.lastUpdatedBy.name }}
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <span jhiTranslate="dhis2TrackApp.programRule.name">Name</span>
            </td>
            <td>
              <span [innerHTML]="showDiff(programRuleRev2.name, programRuleRev1.name)"></span>
            </td>
            <td>
              {{ programRuleRev2.name }}
            </td>
          </tr>
          <tr>
            <td>
              <span jhiTranslate="dhis2TrackApp.programRule.displayName">Display Name</span>
            </td>
            <td>
              <span [innerHTML]="showDiff(programRuleRev2.displayName, programRuleRev1.displayName)"></span>
            </td>
            <td>
              {{ programRuleRev2.displayName }}
            </td>
          </tr>
          <tr>
            <td>
              <span jhiTranslate="dhis2TrackApp.programRule.priority">Priority</span>
            </td>
            <td>
              <span [innerHTML]="showDiff(programRuleRev2.priority, programRuleRev1.priority)"></span>
            </td>
            <td>
              {{ programRuleRev2.priority }}
            </td>
          </tr>
          <tr>
            <td>
              <span jhiTranslate="dhis2TrackApp.programRule.condition">Condition</span>
            </td>
            <td>
              <span [innerHTML]="showDiff(programRuleRev2.condition, programRuleRev1.condition)"></span>
            </td>
            <td>
              {{ programRuleRev2.condition }}
            </td>
          </tr>

          <tr>
            <td>
              <span jhiTranslate="dhis2TrackApp.programRule.program">Program</span>
            </td>
            <td>
              <div *ngIf="programRuleRev1.program && programRuleRev2.program">
                <span [innerHTML]="showDiff(programRuleRev2.program.name, programRuleRev1.program.name)"></span>
              </div>
            </td>
            <td>
              <div *ngIf="programRuleRev2.program">
                {{ programRuleRev2.program.name }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>
    </div>
  </div>
</div>
