<div>
  <h2 id="page-heading" data-cy="TrackedEntityAttributeHeading">
    <span jhiTranslate="dhis2AuditApp.trackedEntityAttribute.home.title">TrackedEntityAttributes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="dhis2AuditApp.trackedEntityAttribute.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tracked-entity-attribute"
        [routerLink]="['/tracked-entity-attribute/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="dhis2AuditApp.trackedEntityAttribute.home.createLabel">Créer un nouveau Tracked Entity Attribute</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (trackedEntityAttributes?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="dhis2AuditApp.trackedEntityAttribute.home.notFound">Aucun Tracked Entity Attribute trouvé</span>
    </div>
  }

  @if (trackedEntityAttributes && trackedEntityAttributes.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.trackedEntityAttribute.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastUpdated">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.trackedEntityAttribute.lastUpdated">Last Updated</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="created">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.trackedEntityAttribute.created">Created</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.trackedEntityAttribute.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="shortName">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.trackedEntityAttribute.shortName">Short Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="generated">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.trackedEntityAttribute.generated">Generated</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valueType">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.trackedEntityAttribute.valueType">Value Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="confidential">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.trackedEntityAttribute.confidential">Confidential</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="displayFormName">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.trackedEntityAttribute.displayFormName">Display Form Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="uniquee">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.trackedEntityAttribute.uniquee">Uniquee</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dimensionItemType">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.trackedEntityAttribute.dimensionItemType">Dimension Item Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="aggregationType">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.trackedEntityAttribute.aggregationType">Aggregation Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="displayInListNoProgram">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.trackedEntityAttribute.displayInListNoProgram">Display In List No Program</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="displayName">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.trackedEntityAttribute.displayName">Display Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="patterne">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.trackedEntityAttribute.patterne">Patterne</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="skipSynchronization">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.trackedEntityAttribute.skipSynchronization">Skip Synchronization</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="displayShortName">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.trackedEntityAttribute.displayShortName">Display Short Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="periodOffset">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.trackedEntityAttribute.periodOffset">Period Offset</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="displayOnVisitSchedule">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.trackedEntityAttribute.displayOnVisitSchedule">Display On Visit Schedule</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="formName">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.trackedEntityAttribute.formName">Form Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="orgunitScope">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.trackedEntityAttribute.orgunitScope">Orgunit Scope</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dimensionItem">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.trackedEntityAttribute.dimensionItem">Dimension Item</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="inherit">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.trackedEntityAttribute.inherit">Inherit</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="optionSetValue">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.trackedEntityAttribute.optionSetValue">Option Set Value</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="track">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.trackedEntityAttribute.track">Track</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="project.id">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.trackedEntityAttribute.project">Project</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy.id">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.trackedEntityAttribute.createdBy">Created By</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastUpdatedBy.id">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.trackedEntityAttribute.lastUpdatedBy">Last Updated By</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="optionSet.id">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.trackedEntityAttribute.optionSet">Option Set</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (trackedEntityAttribute of trackedEntityAttributes; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/tracked-entity-attribute', trackedEntityAttribute.id, 'view']">{{ trackedEntityAttribute.id }}</a>
              </td>
              <td>{{ trackedEntityAttribute.lastUpdated | formatMediumDatetime }}</td>
              <td>{{ trackedEntityAttribute.created | formatMediumDatetime }}</td>
              <td>{{ trackedEntityAttribute.name }}</td>
              <td>{{ trackedEntityAttribute.shortName }}</td>
              <td>{{ trackedEntityAttribute.generated }}</td>
              <td>{{ trackedEntityAttribute.valueType }}</td>
              <td>{{ trackedEntityAttribute.confidential }}</td>
              <td>{{ trackedEntityAttribute.displayFormName }}</td>
              <td>{{ trackedEntityAttribute.uniquee }}</td>
              <td>{{ trackedEntityAttribute.dimensionItemType }}</td>
              <td>{{ trackedEntityAttribute.aggregationType }}</td>
              <td>{{ trackedEntityAttribute.displayInListNoProgram }}</td>
              <td>{{ trackedEntityAttribute.displayName }}</td>
              <td>{{ trackedEntityAttribute.patterne }}</td>
              <td>{{ trackedEntityAttribute.skipSynchronization }}</td>
              <td>{{ trackedEntityAttribute.displayShortName }}</td>
              <td>{{ trackedEntityAttribute.periodOffset }}</td>
              <td>{{ trackedEntityAttribute.displayOnVisitSchedule }}</td>
              <td>{{ trackedEntityAttribute.formName }}</td>
              <td>{{ trackedEntityAttribute.orgunitScope }}</td>
              <td>{{ trackedEntityAttribute.dimensionItem }}</td>
              <td>{{ trackedEntityAttribute.inherit }}</td>
              <td>{{ trackedEntityAttribute.optionSetValue }}</td>
              <td [jhiTranslate]="'dhis2AuditApp.TypeTrack.' + (trackedEntityAttribute.track ?? 'null')">
                {{ { null: '', NEW: 'NEW', UPDATE: 'UPDATE', NONE: 'NONE' }[trackedEntityAttribute.track ?? 'null'] }}
              </td>
              <td>
                @if (trackedEntityAttribute.project) {
                  <div>
                    <a [routerLink]="['/project', trackedEntityAttribute.project.id, 'view']">{{ trackedEntityAttribute.project.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (trackedEntityAttribute.createdBy) {
                  <div>
                    <a [routerLink]="['/dhis-user', trackedEntityAttribute.createdBy.id, 'view']">{{
                      trackedEntityAttribute.createdBy.id
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (trackedEntityAttribute.lastUpdatedBy) {
                  <div>
                    <a [routerLink]="['/dhis-user', trackedEntityAttribute.lastUpdatedBy.id, 'view']">{{
                      trackedEntityAttribute.lastUpdatedBy.id
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (trackedEntityAttribute.optionSet) {
                  <div>
                    <a [routerLink]="['/optionset', trackedEntityAttribute.optionSet.id, 'view']">{{
                      trackedEntityAttribute.optionSet.id
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/tracked-entity-attribute', trackedEntityAttribute.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/tracked-entity-attribute', trackedEntityAttribute.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(trackedEntityAttribute)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (trackedEntityAttributes && trackedEntityAttributes.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
