<div class="d-flex justify-content-center page-component">
  <div class="col-10">
    <div *ngIf="trackedEntityAttributeRev1 && trackedEntityAttributeRev2">
      <h2 data-cy="trackedEntityAttributeDetailsHeading">
        <span jhiTranslate="dhis2TrackApp.trackedEntityAttribute.detail.title">Tracked Entity Attribute</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour </span>
      </button>

      <br /><br />

      <table class="table-responsive">
        <thead>
          <tr>
            <th>Field</th>
            <th>Revision 1</th>
            <th>Revision 2</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.trackedEntityAttribute.id">Id</span></td>
            <td>
              <span [innerHTML]="showDiff(trackedEntityAttributeRev2.id, trackedEntityAttributeRev1.id)"></span>
            </td>
            <td>
              {{ trackedEntityAttributeRev2.id }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.trackedEntityAttribute.lastUpdated">Last Updated</span></td>
            <td>
              <span
                [innerHTML]="
                  showDiff(
                    trackedEntityAttributeRev2.lastUpdated | formatMediumDatetime,
                    trackedEntityAttributeRev1.lastUpdated | formatMediumDatetime
                  )
                "
              ></span>
            </td>
            <td>
              {{ trackedEntityAttributeRev2.lastUpdated | formatMediumDatetime }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.trackedEntityAttribute.created">Created</span></td>
            <td>
              <span
                [innerHTML]="
                  showDiff(
                    trackedEntityAttributeRev2.created | formatMediumDatetime,
                    trackedEntityAttributeRev1.created | formatMediumDatetime
                  )
                "
              ></span>
            </td>
            <td>
              {{ trackedEntityAttributeRev2.created | formatMediumDatetime }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.trackedEntityAttribute.name">Name</span></td>
            <td>
              <span [innerHTML]="showDiff(trackedEntityAttributeRev2.name, trackedEntityAttributeRev1.name)"></span>
            </td>
            <td>
              {{ trackedEntityAttributeRev2.name }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.trackedEntityAttribute.shortName">Short Name</span></td>
            <td>
              <span [innerHTML]="showDiff(trackedEntityAttributeRev2.shortName, trackedEntityAttributeRev1.shortName)"></span>
            </td>
            <td>
              {{ trackedEntityAttributeRev2.shortName }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.trackedEntityAttribute.generated">Generated</span></td>
            <td>
              <span [innerHTML]="showDiff(trackedEntityAttributeRev2.generated, trackedEntityAttributeRev1.generated)"></span>
            </td>
            <td>
              {{ trackedEntityAttributeRev2.generated }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.trackedEntityAttribute.valueType">Value Type</span></td>
            <td>
              <span [innerHTML]="showDiff(trackedEntityAttributeRev2.valueType, trackedEntityAttributeRev1.valueType)"></span>
            </td>
            <td>
              {{ trackedEntityAttributeRev2.valueType }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.trackedEntityAttribute.confidential">Confidential</span></td>
            <td>
              <span [innerHTML]="showDiff(trackedEntityAttributeRev2.confidential, trackedEntityAttributeRev1.confidential)"></span>
            </td>
            <td>
              {{ trackedEntityAttributeRev2.confidential }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.trackedEntityAttribute.displayFormName">Display Form Name</span></td>
            <td>
              <span [innerHTML]="showDiff(trackedEntityAttributeRev2.displayFormName, trackedEntityAttributeRev1.displayFormName)"></span>
            </td>
            <td>
              {{ trackedEntityAttributeRev2.displayFormName }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.trackedEntityAttribute.uniquee">Uniquee</span></td>
            <td>
              <span [innerHTML]="showDiff(trackedEntityAttributeRev2.uniquee, trackedEntityAttributeRev1.uniquee)"></span>
            </td>
            <td>
              {{ trackedEntityAttributeRev2.uniquee }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.trackedEntityAttribute.dimensionItemType">Dimension Item Type</span></td>
            <td>
              <span
                [innerHTML]="showDiff(trackedEntityAttributeRev2.dimensionItemType, trackedEntityAttributeRev1.dimensionItemType)"
              ></span>
            </td>
            <td>
              {{ trackedEntityAttributeRev2.dimensionItemType }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.trackedEntityAttribute.aggregationType">Aggregation Type</span></td>
            <td>
              <span [innerHTML]="showDiff(trackedEntityAttributeRev2.aggregationType, trackedEntityAttributeRev1.aggregationType)"></span>
            </td>
            <td>
              {{ trackedEntityAttributeRev2.aggregationType }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.trackedEntityAttribute.displayInListNoProgram">Display In List No Program</span></td>
            <td>
              <span
                [innerHTML]="showDiff(trackedEntityAttributeRev2.displayInListNoProgram, trackedEntityAttributeRev1.displayInListNoProgram)"
              ></span>
            </td>
            <td>
              {{ trackedEntityAttributeRev2.displayInListNoProgram }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.trackedEntityAttribute.displayName">Display Name</span></td>
            <td>
              <span [innerHTML]="showDiff(trackedEntityAttributeRev2.displayName, trackedEntityAttributeRev1.displayName)"></span>
            </td>
            <td>
              {{ trackedEntityAttributeRev2.displayName }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.trackedEntityAttribute.patterne">Patterne</span></td>
            <td>
              <span [innerHTML]="showDiff(trackedEntityAttributeRev2.patterne, trackedEntityAttributeRev1.patterne)"></span>
            </td>
            <td>
              {{ trackedEntityAttributeRev2.patterne }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.trackedEntityAttribute.skipSynchronization">Skip Synchronization</span></td>
            <td>
              <span
                [innerHTML]="showDiff(trackedEntityAttributeRev2.skipSynchronization, trackedEntityAttributeRev1.skipSynchronization)"
              ></span>
            </td>
            <td>
              {{ trackedEntityAttributeRev2.skipSynchronization }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.trackedEntityAttribute.displayShortName">Display Short Name</span></td>
            <td>
              <span [innerHTML]="showDiff(trackedEntityAttributeRev2.displayShortName, trackedEntityAttributeRev1.displayShortName)"></span>
            </td>
            <td>
              {{ trackedEntityAttributeRev2.displayShortName }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.trackedEntityAttribute.periodOffset">Period Offset</span></td>
            <td>
              <span [innerHTML]="showDiff(trackedEntityAttributeRev2.periodOffset, trackedEntityAttributeRev1.periodOffset)"></span>
            </td>
            <td>
              {{ trackedEntityAttributeRev2.periodOffset }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.trackedEntityAttribute.displayOnVisitSchedule">Display On Visit Schedule</span></td>
            <td>
              <span
                [innerHTML]="showDiff(trackedEntityAttributeRev2.displayOnVisitSchedule, trackedEntityAttributeRev1.displayOnVisitSchedule)"
              ></span>
            </td>
            <td>
              {{ trackedEntityAttributeRev2.displayOnVisitSchedule }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.trackedEntityAttribute.formName">Form Name</span></td>
            <td>
              <span [innerHTML]="showDiff(trackedEntityAttributeRev2.formName, trackedEntityAttributeRev1.formName)"></span>
            </td>
            <td>
              {{ trackedEntityAttributeRev2.formName }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.trackedEntityAttribute.orgunitScope">Orgunit Scope</span></td>
            <td>
              <span [innerHTML]="showDiff(trackedEntityAttributeRev2.orgunitScope, trackedEntityAttributeRev1.orgunitScope)"></span>
            </td>
            <td>
              {{ trackedEntityAttributeRev2.orgunitScope }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.trackedEntityAttribute.dimensionItem">Dimension Item</span></td>
            <td>
              <span [innerHTML]="showDiff(trackedEntityAttributeRev2.dimensionItem, trackedEntityAttributeRev1.dimensionItem)"></span>
            </td>
            <td>
              {{ trackedEntityAttributeRev2.dimensionItem }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.trackedEntityAttribute.inherit">Inherit</span></td>
            <td>
              <span [innerHTML]="showDiff(trackedEntityAttributeRev2.inherit, trackedEntityAttributeRev1.inherit)"></span>
            </td>
            <td>
              {{ trackedEntityAttributeRev2.inherit }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.trackedEntityAttribute.optionSetValue">Option Set Value</span></td>
            <td>
              <span [innerHTML]="showDiff(trackedEntityAttributeRev2.optionSetValue, trackedEntityAttributeRev1.optionSetValue)"></span>
            </td>
            <td>
              {{ trackedEntityAttributeRev2.optionSetValue }}
            </td>
          </tr>

          <tr>
            <td><span jhiTranslate="dhis2TrackApp.trackedEntityAttribute.createdBy">Created By</span></td>
            <td>
              <div *ngIf="trackedEntityAttributeRev1.createdBy">
                {{ trackedEntityAttributeRev1.createdBy.name }}
              </div>
            </td>
            <td>
              <div *ngIf="trackedEntityAttributeRev2.createdBy">
                {{ trackedEntityAttributeRev2.createdBy.name }}
              </div>
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.trackedEntityAttribute.lastUpdatedBy">Last Updated By</span></td>
            <td>
              <div *ngIf="trackedEntityAttributeRev2.lastUpdatedBy && trackedEntityAttributeRev1.lastUpdatedBy">
                <span
                  [innerHTML]="showDiff(trackedEntityAttributeRev2.lastUpdatedBy.name, trackedEntityAttributeRev1.lastUpdatedBy.name)"
                ></span>
              </div>
            </td>
            <td>
              <div *ngIf="trackedEntityAttributeRev2.lastUpdatedBy">
                {{ trackedEntityAttributeRev2.lastUpdatedBy.name }}
              </div>
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.trackedEntityAttribute.optionSet">Option Set</span></td>
            <td>
              <div *ngIf="trackedEntityAttributeRev2.optionSet && trackedEntityAttributeRev1.optionSet">
                <span [innerHTML]="showDiff(trackedEntityAttributeRev2.optionSet.id, trackedEntityAttributeRev1.optionSet.id)"></span>
              </div>
            </td>
            <td>
              <div *ngIf="trackedEntityAttributeRev2.optionSet">
                {{ trackedEntityAttributeRev2.optionSet.id }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>
    </div>
  </div>
</div>
