<div>
  <h2 id="page-heading" data-cy="ProgramRuleActionHeading">
    <span jhiTranslate="dhis2TrackApp.programRuleAction.home.title">ProgramRuleActions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="dhis2TrackApp.programRuleAction.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-program-rule-action"
        [routerLink]="['/program-rule-action/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="dhis2TrackApp.programRuleAction.home.createLabel"> Créer un nouveau Program Rule Action </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="programRuleActions?.length === 0">
    <span jhiTranslate="dhis2TrackApp.programRuleAction.home.notFound">Aucun Program Rule Action trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="programRuleActions && programRuleActions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programRuleAction.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastUpdated">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programRuleAction.lastUpdated">Last Updated</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="created">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programRuleAction.created">Created</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="createdBy.id">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programRuleAction.createdBy">Created By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastUpdatedBy.id">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programRuleAction.lastUpdatedBy">Last Updated By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="programRule.id">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programRuleAction.programRule">Program Rule</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programRule.program">Program</span>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let programRuleAction of programRuleActions; trackBy: trackId" data-cy="entityTable">
          <td>
            {{ programRuleAction.id }}
          </td>
          <td>{{ programRuleAction.lastUpdated | formatMediumDatetime }}</td>
          <td>{{ programRuleAction.created }}</td>

          <td>
            <div *ngIf="programRuleAction.createdBy">
              {{ programRuleAction.createdBy.name }}
            </div>
          </td>
          <td>
            <div *ngIf="programRuleAction.lastUpdatedBy">
              {{ programRuleAction.lastUpdatedBy.name }}
            </div>
          </td>
          <td>
            <div *ngIf="programRuleAction.programRule">
              {{ programRuleAction.programRule.name }}
            </div>
          </td>
          <td>
            <div *ngIf="programRuleAction.programRule && programRuleAction.programRule.program">
              {{ programRuleAction.programRule.program.name }}
            </div>
          </td>

          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/program-rule-action', programRuleAction.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="programRuleActions && programRuleActions.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
