<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-program-rule-variable-heading"
        data-cy="ProgramRuleVariableCreateUpdateHeading"
        jhiTranslate="dhis2TrackApp.programRuleVariable.home.createOrEditLabel"
      >
        Créer ou éditer un Program Rule Variable
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.programRuleVariable.id" for="field_id">Id</label>
          <input
            type="text"
            class="form-control"
            name="id"
            id="field_id"
            data-cy="id"
            formControlName="id"
            [readonly]="editForm.get('id')!.value != null"
          />
          <div *ngIf="editForm.get('id')!.invalid && (editForm.get('id')!.dirty || editForm.get('id')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('id')?.errors?.required" jhiTranslate="entity.validation.required">
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.programRuleVariable.lastUpdated" for="field_lastUpdated"
            >Last Updated</label
          >
          <div class="d-flex">
            <input
              id="field_lastUpdated"
              data-cy="lastUpdated"
              type="datetime-local"
              class="form-control"
              name="lastUpdated"
              formControlName="lastUpdated"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('lastUpdated')!.invalid && (editForm.get('lastUpdated')!.dirty || editForm.get('lastUpdated')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lastUpdated')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('lastUpdated')?.errors?.datetimelocal"
              jhiTranslate="entity.validation.datetimelocal"
            >
              Ce champ doit être une date et une heure.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.programRuleVariable.created" for="field_created">Created</label>
          <div class="d-flex">
            <input
              id="field_created"
              data-cy="created"
              type="datetime-local"
              class="form-control"
              name="created"
              formControlName="created"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('created')!.invalid && (editForm.get('created')!.dirty || editForm.get('created')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('created')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('created')?.errors?.datetimelocal"
              jhiTranslate="entity.validation.datetimelocal"
            >
              Ce champ doit être une date et une heure.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.programRuleVariable.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.programRuleVariable.displayName" for="field_displayName"
            >Display Name</label
          >
          <input
            type="text"
            class="form-control"
            name="displayName"
            id="field_displayName"
            data-cy="displayName"
            formControlName="displayName"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="dhis2TrackApp.programRuleVariable.programRuleVariableSourceType"
            for="field_programRuleVariableSourceType"
            >Program Rule Variable Source Type</label
          >
          <input
            type="text"
            class="form-control"
            name="programRuleVariableSourceType"
            id="field_programRuleVariableSourceType"
            data-cy="programRuleVariableSourceType"
            formControlName="programRuleVariableSourceType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.programRuleVariable.useCodeForOptionSet" for="field_useCodeForOptionSet"
            >Use Code For Option Set</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="useCodeForOptionSet"
            id="field_useCodeForOptionSet"
            data-cy="useCodeForOptionSet"
            formControlName="useCodeForOptionSet"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.programRuleVariable.track" for="field_track">Track</label>
          <select class="form-control" name="track" formControlName="track" id="field_track" data-cy="track">
            <option [ngValue]="null">{{ 'dhis2TrackApp.TypeTrack.null' | translate }}</option>
            <option *ngFor="let typeTrack of typeTrackValues" [value]="typeTrack">
              {{ 'dhis2TrackApp.TypeTrack.' + typeTrack | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('track')!.invalid && (editForm.get('track')!.dirty || editForm.get('track')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('track')?.errors?.required" jhiTranslate="entity.validation.required">
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.programRuleVariable.project" for="field_project">Project</label>
          <select
            class="form-control"
            id="field_project"
            data-cy="project"
            name="project"
            formControlName="project"
            [compareWith]="compareProject"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="projectOption" *ngFor="let projectOption of projectsSharedCollection">{{ projectOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.programRuleVariable.createdBy" for="field_createdBy">Created By</label>
          <select
            class="form-control"
            id="field_createdBy"
            data-cy="createdBy"
            name="createdBy"
            formControlName="createdBy"
            [compareWith]="compareDHISUser"
          >
            <option *ngIf="!editForm.get('createdBy')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="dHISUserOption" *ngFor="let dHISUserOption of dHISUsersSharedCollection">{{ dHISUserOption.id }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['createdBy'])!.invalid && (editForm.get(['createdBy'])!.dirty || editForm.get(['createdBy'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['createdBy'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            Ce champ est obligatoire.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.programRuleVariable.lastUpdatedBy" for="field_lastUpdatedBy"
            >Last Updated By</label
          >
          <select
            class="form-control"
            id="field_lastUpdatedBy"
            data-cy="lastUpdatedBy"
            name="lastUpdatedBy"
            formControlName="lastUpdatedBy"
            [compareWith]="compareDHISUser"
          >
            <option *ngIf="!editForm.get('lastUpdatedBy')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="dHISUserOption" *ngFor="let dHISUserOption of dHISUsersSharedCollection">{{ dHISUserOption.id }}</option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['lastUpdatedBy'])!.invalid && (editForm.get(['lastUpdatedBy'])!.dirty || editForm.get(['lastUpdatedBy'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['lastUpdatedBy'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            Ce champ est obligatoire.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.programRuleVariable.program" for="field_program">Program</label>
          <select
            class="form-control"
            id="field_program"
            data-cy="program"
            name="program"
            formControlName="program"
            [compareWith]="compareProgram"
          >
            <option *ngIf="!editForm.get('program')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="programOption" *ngFor="let programOption of programsSharedCollection">{{ programOption.id }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['program'])!.invalid && (editForm.get(['program'])!.dirty || editForm.get(['program'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['program'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            Ce champ est obligatoire.
          </small>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="dhis2TrackApp.programRuleVariable.trackedEntityAttribute"
            for="field_trackedEntityAttribute"
            >Tracked Entity Attribute</label
          >
          <select
            class="form-control"
            id="field_trackedEntityAttribute"
            data-cy="trackedEntityAttribute"
            name="trackedEntityAttribute"
            formControlName="trackedEntityAttribute"
            [compareWith]="compareTrackedEntityAttribute"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="trackedEntityAttributeOption"
              *ngFor="let trackedEntityAttributeOption of trackedEntityAttributesSharedCollection"
            >
              {{ trackedEntityAttributeOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.programRuleVariable.dataElement" for="field_dataElement"
            >Data Element</label
          >
          <select
            class="form-control"
            id="field_dataElement"
            data-cy="dataElement"
            name="dataElement"
            formControlName="dataElement"
            [compareWith]="compareDataelement"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="dataelementOption" *ngFor="let dataelementOption of dataelementsSharedCollection">
              {{ dataelementOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
