<div>
  <h2 id="page-heading" data-cy="ProgramIndicatorHeading">
    <span jhiTranslate="history.title"></span>
    <span jhiTranslate="dhis2TrackApp.programIndicator.home.title">ProgramIndicators</span>

    <span *ngIf="programIndicator" id="audit-id"> : {{ programIndicator.id }}</span>

    <div class="d-flex justify-content-end">
      <button
        *ngIf="setRev.length == 2"
        type="submit"
        [routerLink]="['/program-indicator', programIndicator?.id, 'compare', setRev[0], setRev[1]]"
        class="me-2 btn btn-warning"
        data-cy="entityCompareButton"
      >
        <fa-icon icon="tasks"></fa-icon>&nbsp;<span jhiTranslate="entity.action.compare">Comparer</span>
      </button>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="programIndicators?.length === 0">
    <span jhiTranslate="dhis2TrackApp.programIndicator.home.notFound">Aucun Program Indicator trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="programIndicators && programIndicators.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programIndicator.id">Id</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programIndicator.name">Name</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programIndicator.created">Created</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programIndicator.lastUpdated">Last Updated</span>
            </div>
          </th>

          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programIndicator.createdBy">Created By</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programIndicator.lastUpdatedBy">Last Updated By</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programIndicator.program">Program</span>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let programIndicator of programIndicators; trackBy: trackId" data-cy="entityTable">
          <td>
            <input
              [disabled]="setRev.length == 2 && !programIndicator.isSelected"
              type="checkbox"
              name="select"
              [(ngModel)]="programIndicator.isSelected"
              (change)="selectRev(programIndicator)"
            />
          </td>

          <td>
            {{ programIndicator.id }}
          </td>
          <td>{{ programIndicator.name }}</td>
          <td>{{ programIndicator.created | formatMediumDatetime }}</td>
          <td>{{ programIndicator.lastUpdated | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="programIndicator.createdBy">
              {{ programIndicator.createdBy.name }}
            </div>
          </td>
          <td>
            <div *ngIf="programIndicator.lastUpdatedBy">
              {{ programIndicator.lastUpdatedBy.name }}
            </div>
          </td>
          <td>
            <div *ngIf="programIndicator.program">
              {{ programIndicator.program.name }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
