<div>
  <h2 id="page-heading" data-cy="ProgramStageHeading">
    <span jhiTranslate="dhis2TrackApp.programStage.home.title">ProgramStages</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="dhis2TrackApp.programStage.home.refreshListLabel">Actualiser la liste</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="programStages?.length === 0">
    <span jhiTranslate="dhis2TrackApp.programStage.home.notFound">Aucun Program Stage trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="programStages && programStages.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programStage.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programStage.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="created">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programStage.created">Created</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastUpdated">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programStage.lastUpdated">Last Updated</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="repeatable">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programStage.repeatable">Repeatable</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="createdBy.id">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programStage.createdBy">Created By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastUpdatedBy.id">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programStage.lastUpdatedBy">Last Updated By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="program.id">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.programStage.program">Program</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let programStage of programStages; trackBy: trackId" data-cy="entityTable">
          <td>
            {{ programStage.id }}
          </td>
          <td>{{ programStage.name }}</td>
          <td>{{ programStage.created | formatMediumDatetime }}</td>
          <td>{{ programStage.lastUpdated | formatMediumDatetime }}</td>
          <td>{{ programStage.repeatable }}</td>

          <td>
            <div *ngIf="programStage.createdBy">
              {{ programStage.createdBy.name }}
            </div>
          </td>
          <td>
            <div *ngIf="programStage.lastUpdatedBy">
              {{ programStage.lastUpdatedBy.name }}
            </div>
          </td>
          <td>
            <div *ngIf="programStage.program">
              {{ programStage.program.name }}
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/program-stage', programStage.id, 'history']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="programStages && programStages.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
