<div class="page-component">
  <h2 id="page-heading" data-cy="ProjectHeading">
    <span jhiTranslate="dhis2TrackApp.project.home.title">Projects</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="dhis2TrackApp.project.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-project"
        [routerLink]="['/project/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="dhis2TrackApp.project.home.createLabel"> Créer un nouveau Project </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="projects?.length === 0">
    <span jhiTranslate="dhis2TrackApp.project.home.notFound">Aucun Project trouvé</span>
  </div>

  <div class="table-entities" id="entities" *ngIf="projects && projects.length > 0">
    <table class="table long-table" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="projectName">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.project.projectName">Project Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dhis2URL">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.project.dhis2URL">Dhis 2 URL</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dhis2Version">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.project.dhis2Version">Dhis 2 Version</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="token">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.project.token">Token</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="emailNotification">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.project.emailNotification">Email Notification</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="notificationTime">
            <div class="d-flex">
              <span jhiTranslate="dhis2TrackApp.project.notificationTime">Notification Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects; trackBy: trackId" data-cy="entityTable">
          <td>{{ project.projectName }}</td>
          <td>{{ project.dhis2URL }}</td>
          <td>{{ project.dhis2Version }}</td>
          <td>{{ project.token }}</td>
          <td>{{ project.emailNotification }}</td>
          <td>{{ project.notificationTime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/project', project.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/project', project.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(project)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="projects && projects.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
