<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-program-rule-action-heading"
        data-cy="ProgramRuleActionCreateUpdateHeading"
        jhiTranslate="dhis2AuditApp.programRuleAction.home.createOrEditLabel"
      >
        Créer ou éditer un Program Rule Action
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="dhis2AuditApp.programRuleAction.id">Id</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_lastUpdated" jhiTranslate="dhis2AuditApp.programRuleAction.lastUpdated">Last Updated</label>
          <div class="d-flex">
            <input
              id="field_lastUpdated"
              data-cy="lastUpdated"
              type="datetime-local"
              class="form-control"
              name="lastUpdated"
              formControlName="lastUpdated"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_created" jhiTranslate="dhis2AuditApp.programRuleAction.created">Created</label>
          <input type="text" class="form-control" name="created" id="field_created" data-cy="created" formControlName="created" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_programRuleActionType" jhiTranslate="dhis2AuditApp.programRuleAction.programRuleActionType"
            >Program Rule Action Type</label
          >
          <input
            type="text"
            class="form-control"
            name="programRuleActionType"
            id="field_programRuleActionType"
            data-cy="programRuleActionType"
            formControlName="programRuleActionType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_evaluationTime" jhiTranslate="dhis2AuditApp.programRuleAction.evaluationTime"
            >Evaluation Time</label
          >
          <input
            type="text"
            class="form-control"
            name="evaluationTime"
            id="field_evaluationTime"
            data-cy="evaluationTime"
            formControlName="evaluationTime"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_data" jhiTranslate="dhis2AuditApp.programRuleAction.data">Data</label>
          <input type="text" class="form-control" name="data" id="field_data" data-cy="data" formControlName="data" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_templateUid" jhiTranslate="dhis2AuditApp.programRuleAction.templateUid">Template Uid</label>
          <input
            type="text"
            class="form-control"
            name="templateUid"
            id="field_templateUid"
            data-cy="templateUid"
            formControlName="templateUid"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_content" jhiTranslate="dhis2AuditApp.programRuleAction.content">Content</label>
          <input type="text" class="form-control" name="content" id="field_content" data-cy="content" formControlName="content" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_displayContent" jhiTranslate="dhis2AuditApp.programRuleAction.displayContent"
            >Display Content</label
          >
          <input
            type="text"
            class="form-control"
            name="displayContent"
            id="field_displayContent"
            data-cy="displayContent"
            formControlName="displayContent"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_track" jhiTranslate="dhis2AuditApp.programRuleAction.track">Track</label>
          <select class="form-control" name="track" formControlName="track" id="field_track" data-cy="track">
            <option [ngValue]="null">{{ 'dhis2AuditApp.TypeTrack.null' | translate }}</option>
            @for (typeTrack of typeTrackValues; track $index) {
              <option [value]="typeTrack">{{ 'dhis2AuditApp.TypeTrack.' + typeTrack | translate }}</option>
            }
          </select>
          @if (editForm.get('track')!.invalid && (editForm.get('track')!.dirty || editForm.get('track')!.touched)) {
            <div>
              @if (editForm.get('track')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_project" jhiTranslate="dhis2AuditApp.programRuleAction.project">Project</label>
          <select
            class="form-control"
            id="field_project"
            data-cy="project"
            name="project"
            formControlName="project"
            [compareWith]="compareProject"
          >
            <option [ngValue]="null"></option>
            @for (projectOption of projectsSharedCollection; track $index) {
              <option [ngValue]="projectOption">{{ projectOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdBy" jhiTranslate="dhis2AuditApp.programRuleAction.createdBy">Created By</label>
          <select
            class="form-control"
            id="field_createdBy"
            data-cy="createdBy"
            name="createdBy"
            formControlName="createdBy"
            [compareWith]="compareDHISUser"
          >
            @if (!editForm.get('createdBy')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (dHISUserOption of dHISUsersSharedCollection; track $index) {
              <option [ngValue]="dHISUserOption">{{ dHISUserOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['createdBy'])!.invalid && (editForm.get(['createdBy'])!.dirty || editForm.get(['createdBy'])!.touched)) {
          <div>
            @if (editForm.get(['createdBy'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_lastUpdatedBy" jhiTranslate="dhis2AuditApp.programRuleAction.lastUpdatedBy"
            >Last Updated By</label
          >
          <select
            class="form-control"
            id="field_lastUpdatedBy"
            data-cy="lastUpdatedBy"
            name="lastUpdatedBy"
            formControlName="lastUpdatedBy"
            [compareWith]="compareDHISUser"
          >
            @if (!editForm.get('lastUpdatedBy')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (dHISUserOption of dHISUsersSharedCollection; track $index) {
              <option [ngValue]="dHISUserOption">{{ dHISUserOption.id }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['lastUpdatedBy'])!.invalid && (editForm.get(['lastUpdatedBy'])!.dirty || editForm.get(['lastUpdatedBy'])!.touched)
        ) {
          <div>
            @if (editForm.get(['lastUpdatedBy'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_programRule" jhiTranslate="dhis2AuditApp.programRuleAction.programRule">Program Rule</label>
          <select
            class="form-control"
            id="field_programRule"
            data-cy="programRule"
            name="programRule"
            formControlName="programRule"
            [compareWith]="compareProgramRule"
          >
            @if (!editForm.get('programRule')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (programRuleOption of programRulesSharedCollection; track $index) {
              <option [ngValue]="programRuleOption">{{ programRuleOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['programRule'])!.invalid && (editForm.get(['programRule'])!.dirty || editForm.get(['programRule'])!.touched)) {
          <div>
            @if (editForm.get(['programRule'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_trackedEntityAttribute" jhiTranslate="dhis2AuditApp.programRuleAction.trackedEntityAttribute"
            >Tracked Entity Attribute</label
          >
          <select
            class="form-control"
            id="field_trackedEntityAttribute"
            data-cy="trackedEntityAttribute"
            name="trackedEntityAttribute"
            formControlName="trackedEntityAttribute"
            [compareWith]="compareTrackedEntityAttribute"
          >
            <option [ngValue]="null"></option>
            @for (trackedEntityAttributeOption of trackedEntityAttributesSharedCollection; track $index) {
              <option [ngValue]="trackedEntityAttributeOption">{{ trackedEntityAttributeOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dataElement" jhiTranslate="dhis2AuditApp.programRuleAction.dataElement">Data Element</label>
          <select
            class="form-control"
            id="field_dataElement"
            data-cy="dataElement"
            name="dataElement"
            formControlName="dataElement"
            [compareWith]="compareTrackedEntityAttribute"
          >
            <option [ngValue]="null"></option>
            @for (trackedEntityAttributeOption of trackedEntityAttributesSharedCollection; track $index) {
              <option [ngValue]="trackedEntityAttributeOption">{{ trackedEntityAttributeOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_optionGroup" jhiTranslate="dhis2AuditApp.programRuleAction.optionGroup">Option Group</label>
          <select
            class="form-control"
            id="field_optionGroup"
            data-cy="optionGroup"
            name="optionGroup"
            formControlName="optionGroup"
            [compareWith]="compareOptionGroup"
          >
            <option [ngValue]="null"></option>
            @for (optionGroupOption of optionGroupsSharedCollection; track $index) {
              <option [ngValue]="optionGroupOption">{{ optionGroupOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
