<div>
  <h2 id="page-heading" data-cy="OrganisationUnitHeading">
    <span jhiTranslate="dhis2AuditApp.organisationUnit.home.title">OrganisationUnits</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="dhis2AuditApp.organisationUnit.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-organisation-unit"
        [routerLink]="['/organisation-unit/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="dhis2AuditApp.organisationUnit.home.createLabel">Créer un nouveau Organisation Unit</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (organisationUnits?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="dhis2AuditApp.organisationUnit.home.notFound">Aucun Organisation Unit trouvé</span>
    </div>
  }

  @if (organisationUnits && organisationUnits.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.organisationUnit.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.organisationUnit.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="created">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.organisationUnit.created">Created</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastUpdated">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.organisationUnit.lastUpdated">Last Updated</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="path">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.organisationUnit.path">Path</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="openingDate">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.organisationUnit.openingDate">Opening Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="level">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.organisationUnit.level">Level</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="track">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.organisationUnit.track">Track</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy.id">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.organisationUnit.createdBy">Created By</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastUpdatedBy.id">
              <div class="d-flex">
                <span jhiTranslate="dhis2AuditApp.organisationUnit.lastUpdatedBy">Last Updated By</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (organisationUnit of organisationUnits; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/organisation-unit', organisationUnit.id, 'view']">{{ organisationUnit.id }}</a>
              </td>
              <td>{{ organisationUnit.name }}</td>
              <td>{{ organisationUnit.created | formatMediumDatetime }}</td>
              <td>{{ organisationUnit.lastUpdated | formatMediumDatetime }}</td>
              <td>{{ organisationUnit.path }}</td>
              <td>{{ organisationUnit.openingDate | formatMediumDatetime }}</td>
              <td>{{ organisationUnit.level }}</td>
              <td [jhiTranslate]="'dhis2AuditApp.TypeTrack.' + (organisationUnit.track ?? 'null')">
                {{ { null: '', NEW: 'NEW', UPDATE: 'UPDATE', NONE: 'NONE' }[organisationUnit.track ?? 'null'] }}
              </td>
              <td>
                @if (organisationUnit.createdBy) {
                  <div>
                    <a [routerLink]="['/dhis-user', organisationUnit.createdBy.id, 'view']">{{ organisationUnit.createdBy.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (organisationUnit.lastUpdatedBy) {
                  <div>
                    <a [routerLink]="['/dhis-user', organisationUnit.lastUpdatedBy.id, 'view']">{{ organisationUnit.lastUpdatedBy.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/organisation-unit', organisationUnit.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/organisation-unit', organisationUnit.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(organisationUnit)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (organisationUnits && organisationUnits.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
