<div class="login-page">
  <div class="d-flex justify-content-center">
    <div class="login-item">
      <div style="text-align: center">
        <h1 class="login-title" jhiTranslate="login.title" data-cy="loginTitle">Authentification</h1>
        <span class="logo-img"></span>
      </div>

      <div class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication" data-cy="loginError">
        <strong>Erreur d'authentification !</strong> Veuillez vérifier vos identifiants de connexion.
      </div>
      <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            name="username"
            id="username"
            placeholder="{{ 'global.form.username.placeholder' | translate }}"
            formControlName="username"
            #username
            data-cy="username"
          />
        </div>

        <div class="mb-3">
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            placeholder="{{ 'login.form.password.placeholder' | translate }}"
            formControlName="password"
            data-cy="password"
          />
        </div>

        <div class="form-check">
          <label class="form-check-label" for="rememberMe">
            <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe" />
            <span jhiTranslate="login.form.rememberme">Garder la session ouverte</span>
          </label>
        </div>

        <div>
          <button style="width: 100%" type="submit" class="btn btn-primary" jhiTranslate="login.form.button" data-cy="submit">
            Connexion
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
