<div class="d-flex justify-content-center page-component">
  <div class="col-10">
    <div *ngIf="programIndicatorRev1 && programIndicatorRev2">
      <h2 data-cy="programIndicatorDetailsHeading">
        <span jhiTranslate="dhis2TrackApp.programIndicator.detail.title">Program Indicator</span>
      </h2>

      <hr />

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour </span>
      </button>

      <br /><br />

      <table class="table-responsive">
        <thead>
          <tr>
            <th>Field</th>
            <th>Revision 1</th>
            <th>Revision 2</th>
          </tr>
        </thead>
        <tbody>
          <!-- Row for each field -->
          <tr>
            <td>Id</td>
            <td>
              <span [innerHTML]="showDiff(programIndicatorRev2.id, programIndicatorRev1.id)"></span>
            </td>
            <td>
              {{ programIndicatorRev2.id }}
            </td>
          </tr>
          <tr>
            <td>Name</td>
            <td>
              <span [innerHTML]="showDiff(programIndicatorRev2.name, programIndicatorRev1.name)"></span>
            </td>
            <td>
              {{ programIndicatorRev2.name }}
            </td>
          </tr>
          <tr>
            <td>Created</td>
            <td>
              <span
                [innerHTML]="
                  showDiff(programIndicatorRev2.created | formatMediumDatetime, programIndicatorRev1.created | formatMediumDatetime)
                "
              ></span>
            </td>
            <td>
              {{ programIndicatorRev2.created | formatMediumDatetime }}
            </td>
          </tr>
          <tr>
            <td>Created By</td>
            <td>
              <span
                *ngIf="programIndicatorRev2.createdBy && programIndicatorRev1.createdBy"
                [innerHTML]="showDiff(programIndicatorRev2.createdBy.name, programIndicatorRev1.createdBy.name)"
              ></span>
            </td>
            <td>
              <span *ngIf="programIndicatorRev2.createdBy">{{ programIndicatorRev2.createdBy.name }}</span>
            </td>
          </tr>
          <tr>
            <td>Last Updated</td>
            <td>
              <span
                [innerHTML]="
                  showDiff(programIndicatorRev2.lastUpdated | formatMediumDatetime, programIndicatorRev1.lastUpdated | formatMediumDatetime)
                "
              ></span>
            </td>
            <td>
              {{ programIndicatorRev2.lastUpdated | formatMediumDatetime }}
            </td>
          </tr>
          <tr></tr>

          <tr>
            <td>Last Updated By</td>
            <td>
              <span
                *ngIf="programIndicatorRev2.lastUpdatedBy && programIndicatorRev1.lastUpdatedBy"
                [innerHTML]="showDiff(programIndicatorRev2.lastUpdatedBy.name, programIndicatorRev1.lastUpdatedBy.name)"
              ></span>
            </td>
            <td *ngIf="programIndicatorRev2.lastUpdatedBy">
              {{ programIndicatorRev2.lastUpdatedBy.name }}
            </td>
          </tr>
          <tr>
            <td>Short Name</td>
            <td>
              <span [innerHTML]="showDiff(programIndicatorRev2.shortName, programIndicatorRev1.shortName)"></span>
            </td>
            <td>
              {{ programIndicatorRev2.shortName }}
            </td>
          </tr>
          <tr>
            <td>Dimension Item Type</td>
            <td>
              <span [innerHTML]="showDiff(programIndicatorRev2.dimensionItemType, programIndicatorRev1.dimensionItemType)"></span>
            </td>
            <td>
              {{ programIndicatorRev2.dimensionItemType }}
            </td>
          </tr>
          <tr>
            <td>Expression</td>
            <td>
              <span [innerHTML]="showDiff(programIndicatorRev2.expression, programIndicatorRev1.expression)"></span>
            </td>
            <td>
              {{ programIndicatorRev2.expression }}
            </td>
          </tr>
          <tr>
            <td>Filter</td>
            <td>
              <span [innerHTML]="showDiff(programIndicatorRev2.filter, programIndicatorRev1.filter)"></span>
            </td>
            <td>
              {{ programIndicatorRev2.filter }}
            </td>
          </tr>
          <tr>
            <td>Analytics Type</td>
            <td>
              <span [innerHTML]="showDiff(programIndicatorRev2.analyticsType, programIndicatorRev1.analyticsType)"></span>
            </td>
            <td>
              {{ programIndicatorRev2.analyticsType }}
            </td>
          </tr>
          <tr>
            <td>Dimension Item</td>
            <td>
              <span [innerHTML]="showDiff(programIndicatorRev2.dimensionItem, programIndicatorRev1.dimensionItem)"></span>
            </td>
            <td>
              {{ programIndicatorRev2.dimensionItem }}
            </td>
          </tr>
          <tr>
            <td>Display Short Name</td>
            <td>
              <span [innerHTML]="showDiff(programIndicatorRev2.displayShortName, programIndicatorRev1.displayShortName)"></span>
            </td>
            <td>
              {{ programIndicatorRev2.displayShortName }}
            </td>
          </tr>
          <tr>
            <td>Display Name</td>
            <td>
              <span [innerHTML]="showDiff(programIndicatorRev2.displayName, programIndicatorRev1.displayName)"></span>
            </td>
            <td>
              {{ programIndicatorRev2.displayName }}
            </td>
          </tr>
          <tr>
            <td>Display Form Name</td>
            <td>
              <span [innerHTML]="showDiff(programIndicatorRev2.displayFormName, programIndicatorRev1.displayFormName)"></span>
            </td>
            <td>
              {{ programIndicatorRev2.displayFormName }}
            </td>
          </tr>
          <tr>
            <td>Program</td>
            <td>
              <span [innerHTML]="showDiff(programIndicatorRev2.program?.name, programIndicatorRev1.program?.name)"></span>
            </td>
            <td>
              {{ programIndicatorRev2.program?.name }}
            </td>
          </tr>
        </tbody>
      </table>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>
    </div>
  </div>
</div>
