<div class="d-flex justify-content-center">
  <div class="col-10">
    <div *ngIf="indicator && indicatorRev1 && indicatorRev2">
      <h2 data-cy="indicatorDetailsHeading"><span jhiTranslate="dhis2TrackApp.indicator.detail.title">Indicator</span></h2>
      <table class="table long-table">
        <thead>
          <tr>
            <th></th>
            <th>Indicator 1</th>
            <th>Indicator 2</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.indicator.id">Id</span></td>
            <td>
              <span [innerHTML]="showDiff(indicatorRev2.id, indicatorRev1.id)"></span>
            </td>
            <td>{{ indicatorRev2.id }}</td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.indicator.name">Name</span></td>
            <td>
              <span [innerHTML]="showDiff(indicatorRev2.name, indicatorRev1.name)"></span>
            </td>
            <td>{{ indicatorRev2.name }}</td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.indicator.shortName">Short Name</span></td>
            <td>
              <span [innerHTML]="showDiff(indicatorRev2.shortName, indicatorRev1.shortName)"></span>
            </td>
            <td>{{ indicatorRev2.shortName }}</td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.indicator.displayShortName">Display Short Name</span></td>
            <td>
              <span [innerHTML]="showDiff(indicatorRev2.displayShortName, indicatorRev1.displayShortName)"></span>
            </td>
            <td>{{ indicatorRev2.displayShortName }}</td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.indicator.displayName">Display Name</span></td>
            <td>
              <span [innerHTML]="showDiff(indicatorRev2.displayName, indicatorRev1.displayName)"></span>
            </td>
            <td>{{ indicatorRev2.displayName }}</td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.indicator.displayFormName">Display Form Name</span></td>
            <td>
              <span [innerHTML]="showDiff(indicatorRev2.displayFormName, indicatorRev1.displayFormName)"></span>
            </td>
            <td>{{ indicatorRev2.displayFormName }}</td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.indicator.created">Created</span></td>
            <td>
              {{ indicatorRev1.created | formatMediumDatetime }}
            </td>
            <td>{{ indicatorRev2.created | formatMediumDatetime }}</td>
          </tr>

          <tr>
            <td><span jhiTranslate="dhis2TrackApp.indicator.createdBy">Created By</span></td>
            <td>
              <div *ngIf="indicatorRev2.createdBy && indicatorRev1.createdBy">
                <span [innerHTML]="showDiff(indicatorRev2.createdBy.name, indicatorRev1.createdBy.name)"></span>
              </div>
            </td>
            <td>
              <div *ngIf="indicatorRev2.createdBy">
                {{ indicatorRev2.createdBy.name }}
              </div>
            </td>
          </tr>

          <tr>
            <td><span jhiTranslate="dhis2TrackApp.indicator.lastUpdated">Last Updated</span></td>
            <td>
              {{ indicatorRev1.lastUpdated | formatMediumDatetime }}
            </td>
            <td>{{ indicatorRev2.lastUpdated | formatMediumDatetime }}</td>
          </tr>

          <tr>
            <td><span jhiTranslate="dhis2TrackApp.indicator.lastUpdatedBy">Last Updated By</span></td>
            <td>
              <div *ngIf="indicatorRev2.lastUpdatedBy && indicatorRev1.lastUpdatedBy">
                <span [innerHTML]="showDiff(indicatorRev2.lastUpdatedBy.name, indicatorRev1.lastUpdatedBy.name)"></span>
              </div>
            </td>
            <td>
              <div *ngIf="indicatorRev2.lastUpdatedBy">
                {{ indicatorRev2.lastUpdatedBy.name }}
              </div>
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.indicator.publicAccess">Public Access</span></td>
            <td>
              <span [innerHTML]="showDiff(indicatorRev2.publicAccess, indicatorRev1.publicAccess)"></span>
            </td>
            <td>{{ indicatorRev2.publicAccess }}</td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.indicator.dimensionItemType">Dimension Item Type</span></td>
            <td>
              <span [innerHTML]="showDiff(indicatorRev2.dimensionItemType, indicatorRev1.dimensionItemType)"></span>
            </td>
            <td>{{ indicatorRev2.dimensionItemType }}</td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.indicator.annualized">Annualized</span></td>
            <td>
              <span [innerHTML]="showDiff(indicatorRev2.annualized, indicatorRev1.annualized)"></span>
            </td>
            <td>{{ indicatorRev2.annualized }}</td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.indicator.numerator">Numerator</span></td>
            <td>
              <span [innerHTML]="showDiff(indicatorRev2.numerator, indicatorRev1.numerator)"></span>
            </td>
            <td>{{ indicatorRev2.numerator }}</td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.indicator.numeratorDescription">Numerator Description</span></td>
            <td>
              <span [innerHTML]="showDiff(indicatorRev2.numeratorDescription, indicatorRev1.numeratorDescription)"></span>
            </td>
            <td>{{ indicatorRev2.numeratorDescription }}</td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.indicator.denominator">Denominator</span></td>
            <td>
              <span [innerHTML]="showDiff(indicatorRev2.denominator, indicatorRev1.denominator)"></span>
            </td>
            <td>{{ indicatorRev2.denominator }}</td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.indicator.denominatorDescription">Denominator Description</span></td>
            <td>
              <span [innerHTML]="showDiff(indicatorRev2.denominatorDescription, indicatorRev1.denominatorDescription)"></span>
            </td>
            <td>{{ indicatorRev2.denominatorDescription }}</td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.indicator.displayNumeratorDescription">Display Numerator Description</span></td>
            <td>
              <span [innerHTML]="showDiff(indicatorRev2.displayNumeratorDescription, indicatorRev1.displayNumeratorDescription)"></span>
            </td>
            <td>{{ indicatorRev2.displayNumeratorDescription }}</td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.indicator.displayDenominatorDescription">Display Denominator Description</span></td>
            <td>
              <span [innerHTML]="showDiff(indicatorRev2.displayDenominatorDescription, indicatorRev1.displayDenominatorDescription)"></span>
            </td>
            <td>{{ indicatorRev2.displayDenominatorDescription }}</td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.indicator.dimensionItem">Dimension Item</span></td>
            <td>
              <span [innerHTML]="showDiff(indicatorRev2.dimensionItem, indicatorRev1.dimensionItem)"></span>
            </td>
            <td>{{ indicatorRev2.dimensionItem }}</td>
          </tr>

          <tr>
            <td><span jhiTranslate="dhis2TrackApp.indicator.indicatorType">Indicator Type</span></td>
            <td>
              <div *ngIf="indicatorRev2.indicatorType && indicatorRev1.indicatorType">
                <span [innerHTML]="showDiff(indicatorRev2.indicatorType.name, indicatorRev1.indicatorType.name)"></span>
              </div>
            </td>
            <td>
              <div *ngIf="indicatorRev2.indicatorType">
                {{ indicatorRev2.indicatorType.name }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>
    </div>
  </div>
</div>
