<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-project-heading" data-cy="ProjectCreateUpdateHeading" jhiTranslate="dhis2TrackApp.project.home.createOrEditLabel">
        Créer ou éditer un Project
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.project.projectName" for="field_projectName">Project Name</label>
          <input
            type="text"
            class="form-control"
            name="projectName"
            id="field_projectName"
            data-cy="projectName"
            formControlName="projectName"
          />
          <div *ngIf="editForm.get('projectName')!.invalid && (editForm.get('projectName')!.dirty || editForm.get('projectName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('projectName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.project.dhis2URL" for="field_dhis2URL">Dhis 2 URL</label>
          <input type="text" class="form-control" name="dhis2URL" id="field_dhis2URL" data-cy="dhis2URL" formControlName="dhis2URL" />
          <div *ngIf="editForm.get('dhis2URL')!.invalid && (editForm.get('dhis2URL')!.dirty || editForm.get('dhis2URL')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dhis2URL')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.project.dhis2Version" for="field_dhis2Version">Dhis 2 Version</label>
          <input
            type="number"
            class="form-control"
            name="dhis2Version"
            id="field_dhis2Version"
            data-cy="dhis2Version"
            formControlName="dhis2Version"
          />
          <div
            *ngIf="editForm.get('dhis2Version')!.invalid && (editForm.get('dhis2Version')!.dirty || editForm.get('dhis2Version')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dhis2Version')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('dhis2Version')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Ce champ doit être un nombre.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.project.token" for="field_token">Token</label>
          <input type="text" class="form-control" name="token" id="field_token" data-cy="token" formControlName="token" />
          <div *ngIf="editForm.get('token')!.invalid && (editForm.get('token')!.dirty || editForm.get('token')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('token')?.errors?.required" jhiTranslate="entity.validation.required">
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.project.emailNotification" for="field_emailNotification"
            >Email Notification</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="emailNotification"
            id="field_emailNotification"
            data-cy="emailNotification"
            formControlName="emailNotification"
          />
          <div
            *ngIf="
              editForm.get('emailNotification')!.invalid &&
              (editForm.get('emailNotification')!.dirty || editForm.get('emailNotification')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('emailNotification')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dhis2TrackApp.project.notificationTime" for="field_notificationTime"
            >Notification Time</label
          >
          <input
            type="text"
            class="form-control"
            name="notificationTime"
            id="field_notificationTime"
            data-cy="notificationTime"
            formControlName="notificationTime"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
