<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-project-heading" data-cy="ProjectCreateUpdateHeading" jhiTranslate="dhis2AuditApp.project.home.createOrEditLabel">
        Créer ou éditer un Project
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="dhis2AuditApp.project.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_projectName" jhiTranslate="dhis2AuditApp.project.projectName">Project Name</label>
          <input
            type="text"
            class="form-control"
            name="projectName"
            id="field_projectName"
            data-cy="projectName"
            formControlName="projectName"
          />
          @if (editForm.get('projectName')!.invalid && (editForm.get('projectName')!.dirty || editForm.get('projectName')!.touched)) {
            <div>
              @if (editForm.get('projectName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dhis2URL" jhiTranslate="dhis2AuditApp.project.dhis2URL">Dhis 2 URL</label>
          <input type="text" class="form-control" name="dhis2URL" id="field_dhis2URL" data-cy="dhis2URL" formControlName="dhis2URL" />
          @if (editForm.get('dhis2URL')!.invalid && (editForm.get('dhis2URL')!.dirty || editForm.get('dhis2URL')!.touched)) {
            <div>
              @if (editForm.get('dhis2URL')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dhis2Version" jhiTranslate="dhis2AuditApp.project.dhis2Version">Dhis 2 Version</label>
          <input
            type="number"
            class="form-control"
            name="dhis2Version"
            id="field_dhis2Version"
            data-cy="dhis2Version"
            formControlName="dhis2Version"
          />
          @if (editForm.get('dhis2Version')!.invalid && (editForm.get('dhis2Version')!.dirty || editForm.get('dhis2Version')!.touched)) {
            <div>
              @if (editForm.get('dhis2Version')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('dhis2Version')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_token" jhiTranslate="dhis2AuditApp.project.token">Token</label>
          <input type="text" class="form-control" name="token" id="field_token" data-cy="token" formControlName="token" />
          @if (editForm.get('token')!.invalid && (editForm.get('token')!.dirty || editForm.get('token')!.touched)) {
            <div>
              @if (editForm.get('token')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_emailNotification" jhiTranslate="dhis2AuditApp.project.emailNotification"
            >Email Notification</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="emailNotification"
            id="field_emailNotification"
            data-cy="emailNotification"
            formControlName="emailNotification"
          />
          @if (
            editForm.get('emailNotification')!.invalid &&
            (editForm.get('emailNotification')!.dirty || editForm.get('emailNotification')!.touched)
          ) {
            <div>
              @if (editForm.get('emailNotification')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_notificationTime" jhiTranslate="dhis2AuditApp.project.notificationTime"
            >Notification Time</label
          >
          <input
            type="text"
            class="form-control"
            name="notificationTime"
            id="field_notificationTime"
            data-cy="notificationTime"
            formControlName="notificationTime"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
