<div class="d-flex justify-content-center page-component">
  <div class="col-10">
    <div *ngIf="programRuleVariableRev1 && programRuleVariableRev2">
      <h2 data-cy="programRuleVariableDetailsHeading">
        <span jhiTranslate="dhis2TrackApp.programRuleVariable.detail.title">Program Rule Variable</span>
      </h2>

      <hr />

      <table class="table long-table">
        <thead>
          <tr>
            <th><span>Field</span></th>
            <th><span>Revision 1</span></th>
            <th><span>Revision 2</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programRuleVariable.id">Id</span></td>
            <td>
              {{ programRuleVariableRev1.id }}
            </td>
            <td>
              {{ programRuleVariableRev2.id }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programRuleVariable.created">Created</span></td>
            <td>
              <span
                [innerHTML]="
                  showDiff(programRuleVariableRev2.created | formatMediumDatetime, programRuleVariableRev1.created | formatMediumDatetime)
                "
              ></span>
            </td>
            <td>
              {{ programRuleVariableRev2.created | formatMediumDatetime }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programRuleVariable.createdBy">Created By</span></td>
            <td>
              <div *ngIf="programRuleVariableRev1.createdBy">
                {{ programRuleVariableRev1.createdBy.name }}
              </div>
            </td>
            <td>
              <div *ngIf="programRuleVariableRev2.createdBy">
                {{ programRuleVariableRev2.createdBy.name }}
              </div>
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programRuleVariable.lastUpdated">Last Updated</span></td>
            <td>
              <span
                [innerHTML]="
                  showDiff(
                    programRuleVariableRev2.lastUpdated | formatMediumDatetime,
                    programRuleVariableRev1.lastUpdated | formatMediumDatetime
                  )
                "
              ></span>
            </td>
            <td>
              {{ programRuleVariableRev2.lastUpdated | formatMediumDatetime }}
            </td>
          </tr>

          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programRuleVariable.lastUpdatedBy">Last Updated By</span></td>
            <td>
              <div *ngIf="programRuleVariableRev1.lastUpdatedBy && programRuleVariableRev2.lastUpdatedBy">
                <span [innerHTML]="showDiff(programRuleVariableRev2.lastUpdatedBy.name, programRuleVariableRev1.lastUpdatedBy.name)"></span>
              </div>
            </td>
            <td>
              <div *ngIf="programRuleVariableRev2.lastUpdatedBy">
                {{ programRuleVariableRev2.lastUpdatedBy.name }}
              </div>
            </td>
          </tr>

          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programRuleVariable.name">Name</span></td>
            <td>
              <span [innerHTML]="showDiff(programRuleVariableRev2.name, programRuleVariableRev1.name)"></span>
            </td>
            <td>
              {{ programRuleVariableRev2.name }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programRuleVariable.displayName">Display Name</span></td>
            <td>
              <span [innerHTML]="showDiff(programRuleVariableRev2.displayName, programRuleVariableRev1.displayName)"></span>
            </td>
            <td>
              {{ programRuleVariableRev2.displayName }}
            </td>
          </tr>
          <tr>
            <td>
              <span jhiTranslate="dhis2TrackApp.programRuleVariable.programRuleVariableSourceType">Program Rule Variable Source Type</span>
            </td>
            <td>
              <span
                [innerHTML]="
                  showDiff(programRuleVariableRev2.programRuleVariableSourceType, programRuleVariableRev1.programRuleVariableSourceType)
                "
              ></span>
            </td>
            <td>
              {{ programRuleVariableRev2.programRuleVariableSourceType }}
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programRuleVariable.useCodeForOptionSet">Use Code For Option Set</span></td>
            <td>
              <span [innerHTML]="showDiff(programRuleVariableRev2.useCodeForOptionSet, programRuleVariableRev1.useCodeForOptionSet)"></span>
            </td>
            <td>
              {{ programRuleVariableRev2.useCodeForOptionSet }}
            </td>
          </tr>

          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programRuleVariable.program">Program</span></td>
            <td>
              <div *ngIf="programRuleVariableRev1.program && programRuleVariableRev2.program">
                <span [innerHTML]="showDiff(programRuleVariableRev2.program.name, programRuleVariableRev1.program.name)"></span>
              </div>
            </td>
            <td>
              <div *ngIf="programRuleVariableRev2.program">
                {{ programRuleVariableRev2.program.name }}
              </div>
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programRuleVariable.trackedEntityAttribute">Tracked Entity Attribute</span></td>
            <td>
              <div *ngIf="programRuleVariableRev1.trackedEntityAttribute && programRuleVariableRev2.trackedEntityAttribute">
                <span
                  [innerHTML]="
                    showDiff(programRuleVariableRev2.trackedEntityAttribute.id, programRuleVariableRev1.trackedEntityAttribute.id)
                  "
                ></span>
              </div>
            </td>
            <td>
              <div *ngIf="programRuleVariableRev2.trackedEntityAttribute">
                {{ programRuleVariableRev2.trackedEntityAttribute.id }}
              </div>
            </td>
          </tr>
          <tr>
            <td><span jhiTranslate="dhis2TrackApp.programRuleVariable.dataElement">Data Element</span></td>
            <td>
              <div *ngIf="programRuleVariableRev1.dataElement && programRuleVariableRev2.dataElement">
                <span [innerHTML]="showDiff(programRuleVariableRev2.dataElement.id, programRuleVariableRev1.dataElement.id)"></span>
              </div>
            </td>
            <td>
              <div *ngIf="programRuleVariableRev2.dataElement">
                {{ programRuleVariableRev2.dataElement.id }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>
    </div>
  </div>
</div>
